[2018-01-08 10:54] kanthans opened #6 "SuSE Linux/AMI Linux verification"
Thank you very much for this tool

Testing the tool against AMI , CentOS 7.4 and SuSE Enterprise Linux after patching with respective vendor patches. All the tests are against your tool ver 0.09. The outputs are given below. Can you please check why the vulnerabilities are reported inspite of installing the patches.

Thank you once again for the tool.

**Amazon Linux**
[code]

**Suse Linux Enterpr

[2018-01-08 11:18] speed47 commented on #6
There is no stable kernel patch for the variant 1 and variant 2 yet, so most kernels are still vulnerable.

I'm following the WIP patches on the LKML to add detection ahead of time, but almost all production-ready kernel are still vulnerable to date so "vulnerable" status is to be expected.

If you know for a fact that they're not (CVE for variant 1 and/or 2 explicitely marked as fixed per the ven

[2018-01-08 11:18] speed47 commented on #6
Please re-run with v0.12, also!
Things are moving very, very fast :)

[2018-01-08 13:57] clausa opened #13 "Feature request: Exitcodes or easy parsable output option"
Hi,

Would it be possible to add exitcodes or perhaps an option for easily parsable output. When collecting output from many servers it would be nice with an easier way to get vulnerable yes/no status for each variant.

Perhaps just something like the below:

exitcode 7: vulnerable to: spectre variant 1, spectre variant2, and meltdown
exitcode 6: vulnerable to: spectre variant2 and meltdown
exitco

[2018-01-08 14:30] speed47 commented on #13
I think we need both: return codes for the "status" of each CVE, but also something scriptable with more details than just the return code.

Probably a --batch option with no output except easily parseable non-color stuff. I'm starting a branch about that.

[2018-01-08 16:14] dbosanzio opened #17 "UNKNOWN (couldn't extract your kernel from /boot/vmlinuz-2.6.18-416.el5PAE)"
Hi, could you help me in fix this "UNKNOWN" problem?

Thanks:

Checking vulnerabilities against Linux 2.6.18-416.el5PAE #1 SMP Wed Oct 26 12:06:12 EDT 2016 i686

CVE-2017-5753 [bounds check bypass] aka 'Spectre Variant 1'
* Kernel compiled with LFENCE opcode inserted at the proper places:  UNKNOWN  (couldn't extract your kernel from /boot/vmlinuz-2.6.18-416.el5PAE)

[2018-01-08 16:41] speed47 commented on #17
does the file /boot/vmlinuz-2.6.18-416.el5PAE actually exist?
If yes, what does `file  /boot/vmlinuz-2.6.18-416.el5PAE` say?

I'm guessing it might be because you're missing some binaries to extract the kernel, @Alkorin is working on a PR to display a proper error+hint if this is the case.

[2018-01-08 16:48] speed47 commented on #17
Can you retry with the latest version (v0.16) ?

[2018-01-08 19:05] pit65 commented on #17
I have got the same in /boot/vmlinuz simply gzipped kernel

[2018-01-08 19:13] Alkorin commented on #17
Which version of the script did you used pit65 ? Could you upload the kernel somewhere ?

[2018-01-08 20:09] anchev commented on #6
Thanks for this tool.
I am getting:

[code]

[2018-01-08 22:19] angus-p opened #20 "Misleading text"
The script states `Kernel compiled with LFENCE opcode inserted at the proper places` - while just checking for a threshold quantity.

There is no validation that the extra opcodes *are* inserted at the proper places

[2018-01-08 22:31] speed47 commented on #20
You're right, I initially added "proper places" to avoid saying just "with LFENCE opcodes" which wouldn't mean anything: the kernel has already some, and it doesn't mean anything per se.

I'm not really happy with this simple count check, I'm waiting to see how the vanilla patches will look like to come up with something better. This simple count check is originally based on a backported kernel: t

[2018-01-08 22:59] viviparous commented on #20
"Checking count of LFENCE opcodes (heuristic to be improved when patches become available)."

[2018-01-09 01:19] tiago-cruz-movile opened #21 "CentOS 6 IBRS compiled in but not enabled?"
Output from Centos 6.7 after `yum update -y && reboot`:

[code]

Is this expected, even after the updates are installed?

Thanks

[2018-01-09 02:11] angus-p commented on #21
The 'YES' on it's own is caused by a superfluous space in the test `"$ibrs_supported "`on line 315

[2018-01-09 03:26] mradcliffe opened #22 "mktemp may require 6 Xs on BSD-like distributions such as Slackware"
mktemp on Slackware for instance follows the BSD convention of requiring 6 Xs rather than 3 Xs.

Otherwise an error message occurs:

`mktemp /tmp/blah.XXX`
`mktemp: cannot create temp file /tmp/blah.XXX: Invalid argument`

This should be a simple patch to write, and I'll submit a PR.

[2018-01-09 05:36] angus-p commented on #20
for x86_64 modifying the count to test for `lfence` followed by a `pop %rax` is quite a strong indicator - `(objdump -D "$vmlinux" | grep -A 1 lfence | grep -wc 'pop  *%rax')` returns 45 versus 0  (patched 4.4 vs. unpatched 4.11).

Do not have a 32 bit box to test, but suspect there will be a good few `pop %eax`s in a similar location...

[2018-01-09 07:34] speed47 commented on #22
Merged your PR, thanks!

[2018-01-09 07:34] #22 closed

[2018-01-09 07:36] dbosanzio commented on #17
Hi with the last version 0.17 i got know for variant 2 the following message:

 Hardware (CPU microcode) support for mitigation:  UNKNOWN  (couldn't read /dev/cpu/0/msr, is msr support enabled in your kernel?)

./spectre-meltdown-checker.sh
Spectre and Meltdown mitigation detection tool v0.17

Checking for vulnerabilities against live running kernel Linux 2.6.18-416.el5PAE #1 SMP Wed Oct 26 12:06:

[2018-01-09 07:36] speed47 commented on #21
@angus-p merged your PR to fix this, thanks

[2018-01-09 07:37] speed47 commented on #21
@tiago-cruz-movile This might be expected if CentOS' backport kept the sysctl knob to enable/disable IBRS at runtime.

Do you have a `/sys/kernel/debug/ibrs_enabled` file ? Alternatively, a `/sys/kernel/debug/x86/ibrs_enabled` file ? If yes, can you `cat` it ?

[2018-01-09 07:44] speed47 commented on #20
@viviparous Good idea, just updated the code with this, while we don't have a better check

[2018-01-09 08:00] speed47 commented on #20
@angus-p To my understanding, vanilla patches are not out yet.

OpenVZ made available their new kernel that fixes the 3 CVEs, they claim (https://openvz.org/Download/kernel/rhel6/042stab127.2).
In the 32 and 64 vmlinux versions there, I can't find any lfence followed by a pop %rax/%eax.

In their patch (also available on the same page), they add
`#define gmb() alternative(ASM_NOP3, "lfence", X86_F

[2018-01-09 08:08] speed47 commented on #17
So the `couldn't extract your kernel from /boot/vmlinuz-2.6.18-416.el5PAE` error seems to be fixed, good!

Your kernel seems old so I'm expecting to see `NO` on every check.
The `UNKNOWN` you have about the MSR means the script can't access the available MSR list from your CPU.
A quick look at the v2.6.18 source code seems to indicate that the msr module didn't exist back then, this would be why!

[2018-01-09 09:32] anchev commented on #21
I am getting a similar message on openSUSE Leap 42.3

Check this:

https://bugzilla.opensuse.org/show_bug.cgi?id=1068032#c145

[2018-01-09 10:09] kanthans commented on #6
Hi

The output on SuSE Ent Linux with the checker version 0.19
[code]
CVE5715 still shows as vulnerable. However the link on the SuSE website indicates it is fixed.
[https://www.suse.com/support/update/announcement/2018/suse-su-20180012-1/]

Can you please share your thoughts on the same.

Thank you

[2018-01-09 10:19] anchev commented on #6
@kanthans check this:

https://bugzilla.opensuse.org/show_bug.cgi?id=1068032#c145

[2018-01-09 10:26] nschloe opened #27 "raspberry pi falsely reported vulnerable"
https://www.raspberrypi.org/blog/why-raspberry-pi-isnt-vulnerable-to-spectre-or-meltdown/
Script output:
[code]

[2018-01-09 10:35] ghyster commented on #21
I have the same issue on centOS 7, I have no ibrs_enabled file, there is no debug folder in /sys/kernel

[2018-01-09 10:39] testos77 opened #28 "At the moment -> Rapsberry Pi "false" vulnerability detection"
[Official statement Raspberry Pi foundation](https://www.raspberrypi.org/blog/why-raspberry-pi-isnt-vulnerable-to-spectre-or-meltdown/)
doesn't reflect the outcome of the tool:
perhaps a check against not vulnerable CPUs from ARM (lscpu) could be added?

[2018-01-09 10:40] #28 closed

[2018-01-09 10:42] souvikhaldar opened #29 "Is there support for Arch Linux?"

[2018-01-09 10:43] testos77 commented on #27
Same here.
[Official statement Raspberry Pi foundation](https://www.raspberrypi.org/blog/why-raspberry-pi-isnt-vulnerable-to-spectre-or-meltdown/) doesn't reflect the outcome of the tool.
Perhaps a check against not vulnerable CPUs from ARM (lscpu) could be added?

[2018-01-09 10:50] testos77 commented on #29
Archlinux is supported, it's a shell script
`sudo bash spectre-meltdown-checker.sh --kernel /boot/Image --config /boot/.... `

[2018-01-09 10:50] CottonEaster opened #30 "Script checks for patches but not initial vulnerability?"
So far as I can tell, the script does not actually check that the device's processor is vulnerable. It seems to me that it would be good were it to do that - before it checked for patches.

[2018-01-09 11:05] speed47 commented on #30
It only checks if you're running under AMD (and this vendor said they're not vulnerable to variant 3 and almost-for-sure not vulnerable to variant 2).

If you're running under anything else, you're supposed to be vulnerable. AFAIK we don't have an exact list of the vulnerable CPUs (or do we?), so for now it seems better to assume everything is.

[2018-01-09 11:06] speed47 commented on #29
Indeed, it is.

If you want to test your current system with the current running kernel, you can just call the script without any option, it'll infer the rest of the informations:

`sudo ./spectre-meltdown-checker.sh`

Closing the issue, feel free to reopen if it doesn't work under your Arch system.

[2018-01-09 11:06] #29 closed

[2018-01-09 11:09] speed47 commented on #27
Indeed, some of the ARM CPUs are not vulnerable, some others are. I don't know if they officially released a public list yet. But R-Pi's are known to be safe as you mentioned.

Can you give me the output of your R-Pi's `/proc/cpuinfo` ?

[2018-01-09 11:10] speed47 commented on #21
As of today, very few distros kernels have the IBRS patches, because they're not even in vanilla.

However, if Kernel support for IBRS says "YES", which is the case of @tiago-cruz-movile , I would expect to have a `/sys` file to enable/disable it at runtime. At least from the official LKML patches and some others that distros have backported.

I'll try to get my hands on a fresh Centos 6.7 kernel

[2018-01-09 11:14] speed47 commented on #6
As it seems to be the expected behaviour (indeed the majority of kernels out there don't yet have IBRS, even the "fixed" ones, as most of the time they only fix variant 3 thru KPTI), I'm closing this ticket.

Feel free to reopen if needed.

[2018-01-09 11:14] #6 closed

[2018-01-09 11:15] testos77 commented on #27
[statement from ARM](https://developer.arm.com/support/security-update)

atm I can only provide you the info for a raspberry pi 2, Trusting ARMs statement a check against model name would be sufficient (see link above)?!
`/proc/cpuinfo`

processor	: 0
model name	: ARMv7 Processor rev 5 (v7l)
BogoMIPS	: 38.40
Features	: half thumb fastmult vfp edsp neon vfpv3 tls vfpv4 idiva idivt vfpd32 lpae evtst

[2018-01-09 11:25] CottonEaster commented on #30
Well, very old Intel chips are not vulnerable to Meltdown. The same goes for some recent chips made by small manufacturers.

At the least, I think the program should display something along the lines of what you posted just now.

Thanks.

[2018-01-09 11:27] speed47 commented on #27
I trust what ARM has to say about their own chips.

The CPU Part <-> commercial name correspondence of wikipedia seems to work from your example (RPI2 has an A7 from what I can find online).
https://en.wikipedia.org/wiki/Comparison_of_ARMv7-A_cores

Doing.

[2018-01-09 11:44] kajzersoze commented on #30
What's very old ?
I have core2 (10 years old) and it's vulnerable for sure.

[2018-01-09 11:53] CottonEaster commented on #30
I don't know, and as you say I don't think a list is available. But any processor that lacks speculative execution; I heard recently that the 486 is one such chip (but admittedly I read that in a report about the challenge of getting a modern operating system to run on a computer with such a chip).

Why not just put some display text in the script that says what you do know about what is vulnerabl

[2018-01-09 12:00] testos77 commented on #27
FYI:
Checking against /proc/cpuinfo to identify a not vulnerable ARM processor e.g. ARMv7 will fail, if one is running an  arm64 bit kernel. I don't think that many people are doing this, but -> [link](https://github.com/raspberrypi/linux/issues/2110)

[2018-01-09 12:01] anchev commented on #21
A web hosting provider which runs CentOS showed me all 3 checks as NOT VULNERABLE. I asked if that is a guarantee that the system is completely safe and they replied:

So I wonder to what extent one can rely on the result of this particular script?

[2018-01-09 12:13] speed47 commented on #27
Can you try the ARM branch ?

@testos77 I'm only relying on
CPU implementer	: 0x41 => ARM
CPU architecture: 8 => ARM version
CPU part	: 0xd03 => ARM part number

So this might also work under a 64 bits kernel

[2018-01-09 12:34] vincentbernat commented on #21
For CentOS 7, I can confirm that if IBRS is enabled, the script is able to find the appropriate file in `/sys`.

[2018-01-09 12:55] testos77 commented on #27
Tried the ARM branch. Successfully identified ARMv7 as not vulnerable on Raspberry Pi 2 32 bit and an OrangePiPC2 (H5) running a 64 bit distro.

[2018-01-09 12:58] #27 closed

[2018-01-09 12:59] speed47 commented on #17
As the originally reported problem (_can't extract kernel_) has been fixed, and the vulnerable status of referenced kernel seems to be correct, I'm closing this issue.

Feel free to reopen if needed.

[2018-01-09 13:07] speed47 commented on #21
@anchev The script only looks for the presence (or absence) of currently known mitigations to be implemented in the kernel and CPU microcode. It mainly shows you which mitigations your system has and if they're combined with the proper other needed features (such as CPU microcode) to actually mitigate the vulnerabilities properly.

You can see it as an helper script for the concerned sysadmin who

[2018-01-09 13:19] trecloux commented on #27
With this change, Intel CPUs are now returned as NON VULNERABLE, I think it's a major issue

[2018-01-09 13:20] speed47 commented on #30
I don't want to add too much text to the default output, that is not part of the checks per se.
On the other hand if the text I add is not clear enough, it might make more harm than good by raising more questions in the head of the user.

Maybe a --disclaimer option that is referenced in the output header ?

[2018-01-09 13:20] tiago-cruz-movile commented on #21
Hello @speed47,

[code]

Now, worked as expected using the last version:

[code]

Thanks!

[2018-01-09 13:45] ewwhite opened #34 "Are we sure this works?"
Unpatched physical machine on Sandy Bridge CPU and EL7 shows:

    STATUS:  NOT VULNERABLE  (your CPU vendor reported your CPU model as not vulnerable)

All of my EL6 virtual machines on VMware show:

    STATUS:  NOT VULNERABLE  (your CPU vendor reported your CPU model as not vulnerable)

Physical Sandy Bridge CPU and EL6 system shows:

    STATUS:  VULNERABLE  (IBRS hardware + kernel support OR

[2018-01-09 13:48] fbouliane commented on #30
For Intel, I think the list is out
https://security-center.intel.com/advisory.aspx?intelid=INTEL-SA-00088&languageid=en-fr

[2018-01-09 13:49] speed47 commented on #34
Doh, the recent commit 68961f98c2784a0fda358202fc041345853d1709 has a broken logic, thanks for noticing.
Fixing...

[2018-01-09 13:50] CottonEaster commented on #30
Sure. The --`disclaimer` option might say _something like_ the following.

Also: your 'as per the vendor' (line 465) is ambiguous: it could mean 'because of the manufacturer, the chip is not vulnerable' or it could mean 'according to the manufacturer, the chip is not vulnerable.' A better phrase would be 'according to the vendor' (for that is what you mean). That said: isn't it thought that at lea

[2018-01-09 13:57] speed47 commented on #34
Please test v0.20

[2018-01-09 14:00] mhenderson-so commented on #34
My initial tests seem to show that the script is responding appropriately now. Thanks for the quick update!

[2018-01-09 14:00] kajzersoze commented on #30
That list is not good, my cpu is not on that list, however PoC example attacks are working.

[2018-01-09 14:09] testos77 commented on #27
should be fixed with latest [commit](https://github.com/speed47/spectre-meltdown-checker/commit/322f4efc8f3e7d6b5026132ba5721630a6c0ef58) update to version -> 0.20
my Intel test cpu is shown as Vulnerable

[2018-01-09 14:13] ewwhite commented on #34
Thank you. This works for me now.

[2018-01-09 14:13] #34 closed

[2018-01-09 14:30] speed47 commented on #30
@CottonEaster `according to the vendor` is exactly what I meant, and it removes the possible confusion you mentioned, I'll do the modification, thanks for the suggestion.

[2018-01-09 14:35] speed47 commented on #30
Interesting, as a matter of fact in latest versions I already changed this sentence to `your CPU vendor reported your CPU model as not vulnerable`, I forgot about it!

[2018-01-09 14:54] speed47 commented on #30
The disclaimer I've come up with (with some bits from @CottonEaster)

[2018-01-09 15:15] speed47 commented on #21
@tiago-cruz-movile can you confirm you're using AMD or ARM?

[2018-01-09 15:23] CottonEaster commented on #30
Good stuff.

**Typos and similar**

`wether` (in 'This tool does its best to determine wether') should be `whether`.

`collectively called` sounds better as `collectively named`.

`CVE` would be best spelled out. (What does it stand for?)

`helps you verifying wether` should be `helps you to verify whether`.

[2018-01-09 15:29] IlCarlett81 commented on #30
VM in ESXi 5.5, CPU : Intel(R) Xeon(R) CPU E5-2697 v2 @ 2.70GHz

According to Intel E5-2697 v2  is Affected (https://security-center.intel.com/advisory.aspx?intelid=INTEL-SA-00088&languageid=en-fr),

output of the script:

=====
CVE-2017-5753 [bounds check bypass] aka ‘Spectre Variant 1’
* Checking count of LFENCE opcodes in kernel: NO (only 17 opcodes found, should be >= 70)

CVE-2017-5715 [branc

[2018-01-09 15:29] speed47 commented on #30
Thanks for the review ;)
CVEs stands for "Common Vulnerabilities Exposure", it's the globally unique naming/referencing system for all vulnerabilities commonly found in softwares (or, in that case, hardware...). Every vulnerability gets its number thru CVE and then everybody uses it to reference the vulnerability. In the disclaimer, it'll just replace it by "vulnerabilities".

[2018-01-09 15:34] speed47 commented on #30
@IlCarlett81 There was a bug some versions ago (that existed during circa ~1 hour, between 1pm and 2pm UTC today) that were basically flagging almost all vendors as "not vulnerable".
Sorry about that. Are you using the latest version?

[2018-01-09 15:41] CharlsBags commented on #30
0.18, now with 0.20 is 'OK' **VULNERABLE**
CVE-2017-5753 [bounds check bypass] aka 'Spectre Variant 1'
* Checking count of LFENCE opcodes in kernel:  NO  (only 17 opcodes found, should be >= 70)

CVE-2017-5715 [branch target injection] aka 'Spectre Variant 2'
* Mitigation 1
*   Hardware (CPU microcode) support for mitigation:  YES
*   Kernel support for IBRS:  NO
*   IBRS enabled for Kernel space:

[2018-01-09 15:50] speed47 commented on #30
@CharlsBags Thanks for the confirmation.

[2018-01-09 15:56] CharlsBags commented on #30
@speed47
But with a
Intel(R) Xeon(R) CPU 5160 @ 3.00GHz
According with INTEL, this CPU not affected. The Script results VULNERABLE.
Can you confirrm?

[2018-01-09 16:04] shadowlmd opened #35 "Script reports NOT VULNERABLE even when IBRS is supported partially"
I have an example where IBRS is enabled only for Kernel space, but script reports CVE-2017-5715 as not vulnerable. I believe, it should report "partially vulnerable" or something like that in such cases.

[2018-01-09 16:18] angus-p commented on #20
That was from dump of openSUSE  (running patched4.4 but have an unpatched 4.11 in /boot)

[2018-01-09 16:41] anchev commented on #21
@speed47 Someone even mentioned that running such script can be harmful. I don't know in what way though:

https://bugzilla.suse.com/show_bug.cgi?id=1068032#c153

[2018-01-09 16:48] Feandil opened #36 "Spectre V2: add check for cpuinfo "spec_ctrl" ?"
I've seen a weird case on a VM:
- Reading from the msr works (the CPU has an updated microcode)
- The kernel has been compiled with ibrs support
- The kernel choose to disable ibrs support
- /proc/cpuinfo does not contain spec_ctrl ibpb_support

I believe this to be a bad qemu package/runtime/configuration, but I was wondering: would it make sense to add a check for the spec_ctrl flag in /proc/cpu

[2018-01-09 16:52] tiago-cruz-movile commented on #21
@speed47:

[code]

[2018-01-09 17:02] angus-p commented on #21
@anchev

It's 'harmful' as not being absolute - i.e. checking that you have a lock on the door, but not making sure that it is locked...

I have more of an issue with the idiots that read a reddit forum or something and look then flood the bugzilla with 'me-too's - the devs have enough to do than go through a load of spam just on the offchance that they miss something important....

George and Mik

[2018-01-09 17:23] speed47 commented on #21
@angus-p @anchev That's the reason why adding a disclaimer is probably a good idea indeed. Obviously, nobody will read it, or at least the ones who should won't, but that's pretty much all I can do...

I don't want to give people a false sense of security, but any tool even remotely related to checking security stuff does exactly that if people use it to jump to conclusions without understanding e

[2018-01-09 17:26] speed47 commented on #21
@tiago-cruz-movile You might be using an old version that had a bug (it stayed that way for ~1 hour today, between 1pm and 2pm UTC). Can you try with the latest version, just to be sure? If you have Intel, it shouldn't say "your CPU vendor reported your CPU model as not vulnerable". So most probably the original behavior you observed should be back (and is probably correct).

I'm checking on an up

[2018-01-09 17:39] anchev commented on #21
Thanks for explaining.

[2018-01-09 17:53] speed47 commented on #21
Just added the disclaimer.

[2018-01-09 18:07] speed47 commented on #30
As @kajzersoze said, apparently the Intel list is not exhaustive, as his own CPU is not listed but the meltdown exploit works.
In any case, my script doesn't check whether an Intel CPU is vulnerable or not (it makes the assumption that all Intel CPUs are). It just checks if the known-to-date mitigations are in place.

I've added a disclaimer within the script to make this explicit (you can see it

[2018-01-09 18:46] speed47 commented on #21
To go back to the original issue: CentOS 6 patched with IBRS but IBRS detected as not enabled.
[code]

If we trust the debugfs interface, IBRS is indeed not enabled an updated CentOS 6. Hmm.

[2018-01-09 19:32] angus-p commented on #20
I'd consider this closed with 7222367f04a7c4257228e48b74be8a19facc5991

[2018-01-09 19:32] #20 closed

[2018-01-09 19:39] dbosanzio commented on #17
Hi thanks for the first fix.

I think  the smr is present in kernel 2.6,.18.X look at this:

https://github.com/lucyoa/kernel-exploits/tree/master/msr

https://www.exploit-db.com/exploits/27297/

Also in the source code of:

https://www.kernel.org/pub/linux/kernel/v2.6/linux-2.6.18.tar.gz

linux-2.6.18/include/asm-x86_64/msr.h
linux-2.6.18/include/asm-i386/msr.h
linux-2.6.18/arch/i386/kernel/msr.c

[2018-01-09 19:51] vincentbernat commented on #21
I just checked myself on an upgraded CentOS 6 and I get IBRS detected with your script. Same kernel.

[2018-01-09 20:12] jsumners commented on #13
Easily read by an Ansible playbook would be ideal.

[2018-01-09 20:37] speed47 commented on #21
IBRS detected (compiled-in) but also detected as being enabled for kernel and/or userspace?

[2018-01-09 20:38] speed47 commented on #13
@jsumners a batch mode has been implemented, you can try --batch.
It just output 3 lines, that are easy to parse. I suppose it should be easy to use from Ansible?

[2018-01-09 20:40] jsumners commented on #13
Definitely easier. Would be much easier if it were JSON.

[2018-01-09 20:54] NeckBeardPrince commented on #13
When using --batch with Ansible.
Getting odd error "stderr": "tail: write error: Broken pipe",

[code]

[2018-01-09 22:44] martypal2005 commented on #21
Just pulled from master and still getting

* Mitigation 1
*   Hardware (CPU microcode) support for mitigation:  YES
*   Kernel support for IBRS:  YES
*   IBRS enabled for Kernel space:  NO
*   IBRS enabled for User space:  NO

on 6.9
2.6.32-696.18.7.el6.x86_64

I have no idea how to enable IBRS.

I looked at:

https://lwn.net/Articles/743019/

How to enable IBRS?

I verified that 'noibrs' flag is

[2018-01-09 22:49] truedays commented on #13
@NeckBeardPrince can you see if this fixes that?

https://github.com/truedays/spectre-meltdown-checker/pull/1/commits/b81709e9867e143715557398b72623fcb7b51ccd

[2018-01-09 23:57] NeckBeardPrince commented on #13
@truedays

[code]

[2018-01-10 06:30] vincentbernat commented on #21
[code]

[2018-01-10 08:52] matglas opened #40 "Add options to pick specific variant to test"
I'm running this script now against a cluster. Would it be possible to add a --variant 1,2,3 to pick what to test for? This way I can incrementally see what nodes still need to be patched based on the releases that are happening.

[2018-01-10 09:24] gatesking commented on #21
@speed47 hi, my OS is CentOS7.3,  and I have no /sys/kernel/debug/ibrs_enabled but /sys/kernel/debug/x86/ibrs_enabled. Why you only use path /sys/kernel/debug/ibrs_enabled?Should I change path in your script and then run it again?

[2018-01-10 10:38] marcus-downing commented on #13
Rather than exit codes picked at random, it would be useful for us if the exit codes could conform to the standard exit codes used by Nagios and Icinga monitoring:

0 OK (test ran successfully and the system is OK)
1 Warning (the system needs attention to prevent a problem emerging)
2 Critical (the system is down or in immediate danger)
3 Unknown (unable to run the test)

The output should then st

[2018-01-10 10:39] speed47 commented on #40
Can do, should be easy enough

[2018-01-10 11:24] speed47 commented on #40
Can you test the `opt_variant` branch ?

[2018-01-10 11:26] speed47 commented on #21
@vincentbernat Is this from a just-installed and upgraded CentOS 6 ?

If yes, can you `cat /sys/kernel/debug/x86/ibrs_enabled` ?

[2018-01-10 11:45] lasse-kristensen commented on #40
Works fine for me on centos 6, centos7 and ubuntu 16.04, thanks.

[2018-01-10 11:54] speed47 commented on #36
Things are moving really fast on the LKML and they're changing the code several times per day, including the "flags" that would be visible from /proc or /sys.
Do you have some kernel source code or diff/patch showing a `spec_ctrl` or `ipbp_support` flag exported to `/proc/cpuinfo`?

[2018-01-10 12:13] matglas commented on #40
Works fine for me too. Ran it on 16.04.

[2018-01-10 12:16] matglas commented on #40
Thank you for this addition.

[2018-01-10 12:22] vincentbernat commented on #21
Yes, it is.

[code]

[2018-01-10 12:37] matglas commented on #40
Here is my work to use the script in an Ansible play that checks hosts https://github.com/VDMi/ansible-spectre-meltdown-checker for those that want to use it.

[2018-01-10 13:24] speed47 commented on #21
Interesting. This would suggest that their kernel has some logic to enable/disable ibrs itself. Maybe based on the fact that the microcode is available or not (I've been testing on a system without the proper MSR to make IBRS useful anyway).

[2018-01-10 13:27] speed47 commented on #40
Perfect! I'm waiting for PR #41 to be merged before merging this one, as I was forced to reindent most of the code, and it would conflict. You can expect it later today :)

[2018-01-10 13:30] speed47 commented on #13
@truedays Can I cherry-pick the change from your branch to fix stderr issue with Ansible? Alternatively you can make a PR if you prefer.

[2018-01-10 13:37] truedays commented on #13
I don't think my initial idea worked. I'm going to setup an ansible lab to
test later today.  Happy to submit a PR after evidence of success.

On Jan 10, 2018 7:30 AM, "Stéphane Lesimple" <notifications@github.com>
wrote:

@truedays <https://github.com/truedays> Can I cherry-pick the change from
your branch to fix stderr issue with Ansible? Alternatively you can make a
PR if you prefer.

—
You are

[2018-01-10 13:55] speed47 commented on #35
The script mainly focuses on the kernel indeed.
It has been a design choice to say "not vulnerable" if ibrs is at least enabled for the kernel. It might not be a good idea to enable it for all userspace because the perf impacts are not negligible at all. In any case, each sysadmin should test and take its decision about this, as it's mainly a security/perf tradeoff. However for kernel IBRS, it rea

[2018-01-10 14:21] Ulrar opened #43 "Specify kernel path in live mode"
Hi,

The script seems to look for the kernel in /boot with some specific names, and if you aren't using that you can't do the live mode test.
It would be nice to be able to use --kernel with --live, I'm personally using a pretty simple /boot/kernel-4.14.12 that this script can't find on it's own apparently.

[2018-01-10 14:31] speed47 commented on #43
The script knows about the main usual ways of naming the kernels under /boot, but if you compiled your own and basically your `uname -r` is not reflected in the image name in /boot, the script won't be able to guess it indeed.

It should be easy to implement --live --kernel as you suggested, however

[2018-01-10 14:31] speed47 commented on #40
Merged

[2018-01-10 14:31] #40 closed

[2018-01-10 14:32] speed47 commented on #13
Thanks! I'm keeping this issue open to track this.

[2018-01-10 14:33] marcus-downing commented on #43
You can specify a kernel directly with `--kernel`, but `--live` is about the currently running kernel.

Surely `/proc/cmdline` is the right place to find this information, rather than trying a series of guesses?

[code]

The `BOOT_IMAGE` parameter is relative to `/boot`, telling me that the running kernel file is
`/boot/vmlinuz-4.10.0-42-generic`

[2018-01-10 14:34] speed47 commented on #30
Disclaimer is now there, and hopefully enough clues are now given in the default output of the script about what has been discussed here, so I'm closing this issue.

Feel free to reopen if needed.

[2018-01-10 14:34] #30 closed

[2018-01-10 14:35] speed47 commented on #43
I didn't even think about BOOT_IMAGE in the command-line! This would be a cleaner way indeed. I would only keep the current guessing code after failing to use the BOOT_IMAGE hint.

[2018-01-10 14:36] Meriipu commented on #17
Does not extract for me either. LZ4 compressed kernel.

[2018-01-10 14:36] Ulrar commented on #43
Yes, using /proc/cmdline is a good idea.
Mine is BOOT_IMAGE=/boot/kernel-4.14.12, I guess it depends on whether you have a separate boot partition or not. In any case it's easy enough to try the path and append /boot in front if it's not valid.

[2018-01-10 14:39] speed47 commented on #43
Indeed. Implementing it then, will push a dedicated branch for you to test before merging.

[2018-01-10 14:47] speed47 commented on #43
Could you try the `bootimage` branch?

[2018-01-10 14:58] speed47 commented on #17
@Meriipu I don't have an LZ4 compressed kernel at hand, would it be possible to upload your kernel image somewhere?
My decompression code is based on Linus' `extract-vmlinux` script, but it hasn't been updated recently, so LZ4 probably didn't exist yet.

[2018-01-10 15:13] #43 closed

[2018-01-10 15:14] Meriipu commented on #17
@speed47 https://my.mixtape.moe/aqpeeq.12-gentoo-pix

[2018-01-10 15:19] xxxmurky opened #45 "Only /proc/sys/kernel/ibrs_enabled present in Opensuse tumbleweed"
I am running Opensuse tumbleweed with kernel 4.14.12-1 (which is patched already), debugfs is mounted under /sys/kernel/debug but there is no such file as /sys/kernel/debug/ibrs_enabled or /sys/kernel/debug/x86/ibrs_enabled.  However ibrs_enabled is present here:

/proc/sys/kernel/ibrs_enabled

...and it contains a value of 1.

Not sure if other distros behave the same, just thought I'd let you kn

[2018-01-10 15:21] Calinou opened #46 "Error: vmlinuz not found on Fedora"
Running the script with `sudo` on Fedora 27 prints this at the beginning:

[code]

It seems to be a benign error as I get expected results after this message is printed, but it would be nice to fix it. :smiley:

[2018-01-10 15:24] speed47 commented on #46
could you `cat /proc/cmdline` and paste it there?

[2018-01-10 15:24] Calinou commented on #46
@speed47 See below:

[code]

[2018-01-10 15:25] speed47 commented on #46
OK, found, one-char patch coming.

[2018-01-10 15:27] speed47 commented on #46
Can you retry with current master?

[2018-01-10 15:29] shadowlmd commented on #35
Got it, thank you!

[2018-01-10 15:29] #35 closed

[2018-01-10 15:33] Calinou commented on #46
It works now, the error message is gone. Thanks!

[2018-01-10 15:33] #46 closed

[2018-01-10 15:44] speed47 commented on #17
@dbosanzio I used the LXR tool to quickly search for "msr" in 2.6.18 which returned no results, but it turns out there would have been, as per your message. I'll look into it, maybe the exposed "msr" file is in a different path under this version
@Meriipu thanks, working on that

[2018-01-10 15:57] Ulrar commented on #43
Spoke too soon, if the /boot partition is different from the root partition (so /boot has to be prepended) it doesn't work :

spectre-meltdown-checker.sh: line 442: /kernel-4.14.13=/boot//kernel-4.14.13: No such file or directory

[2018-01-10 16:07] Ulrar commented on #43
Looks like there is just an extra $ on line 442, removing it fixes the problem

[2018-01-10 16:35] speed47 commented on #45
Distros backport the patches and sometimes they change stuff. I'm interested in supporting the maximum amount of distros possible!

Can you try to echo 2 in it ? (it should enable ibrs for kernel + userspace). Just to be sure that they just changed the location of this file, and not the meaning of the values it contains.

[2018-01-10 16:41] speed47 commented on #45
In the meantime, can you try the opensuse branch?

[2018-01-10 16:45] martypal2005 commented on #21
@vincentbernat Virtualbox/Vmware? What are you running in. Are you using a vagrant image for this testing?

[2018-01-10 16:58] vincentbernat commented on #21
I am running on top of KVM with a patched QEMU and a patched kernel. You need all that for IBRS to be usable by a guest VM.

[2018-01-10 16:58] xxxmurky commented on #45
Yes, I can echo 2 into /proc/sys/kernel/ibrs_enabled.  Opensuse branch works perfectly! Also, checking with sysctl I can see the value updated:

`m-comp:~/spectre-meltdown-checker # sysctl -a|grep ibrs
kernel.ibrs_dump = 0
kernel.ibrs_enabled = 1
m-comp:~/spectre-meltdown-checker # echo 2 >/proc/sys/kernel/ibrs_enabled
m-comp:~/spectre-meltdown-checker # sysctl -a|grep ibrs
kernel.ibrs_dump = 0
ke

[2018-01-10 17:17] Feandil commented on #36
It must be in the RedHat kernel sources, but these are only released as source code and hard to parse...
Latest (right now) sources can be downloaded from https://git.centos.org/sources/kernel/c7/b0cf50a45ee77f54c233f0f8d8f57324e266f3d8 (theoretical file name: linux-3.10.0-693.11.6.el7.tar.xz).

If you think it's not worth it and not generic, let's ignore it ;)

[2018-01-10 17:20] martypal2005 commented on #21
Has anyone tried modifying /sys/kernek/debug/x86/ibrs_enabled directly as explained here:
https://lwn.net/Articles/743019/

@vincentbernat did you mount debugfs and did you try changing it to two to get the full mitigation (kernel and user space), it does not seem like a valid solution, will it survive reboot?

[2018-01-10 17:41] speed47 commented on #45
Thanks, merging

[2018-01-10 17:41] #45 closed

[2018-01-10 17:50] speed47 opened #49 "Kernel tip introduces cpu/vulnerabilities directory"
For kernels that have `/sys/devices/system/cpu/vulnerabilities`, we'll be 100% sure of the information we have because it'll be exposed by the kernel itself. It will only work in live mode though.

[2018-01-10 19:10] arecki-biker commented on #17
For now for LZ4 compressed kernel I'm making the following modifications:

diff -c spectre-meltdown-checker.sh spectre-meltdown-checker_lz4.sh
*** spectre-meltdown-checker.sh	2018-01-10 18:08:15.468346611 +0100
--- spectre-meltdown-checker_lz4.sh	2018-01-10 18:22:11.609732153 +0100
***************
*** 8,14 ****
  #
  # Stephane Lesimple
  #
! VERSION=0.23

  # Script configuration
  show_usage()
-

[2018-01-10 19:11] speed47 commented on #17
I actually just pushed a new version supporting lz4! Can you try it ?

[2018-01-10 19:16] arecki-biker commented on #17
It's freezing for a while, like after my modifications, but it works.

[2018-01-10 19:21] speed47 commented on #17
if it seems to be freezing while checking variant 1, it's normal, that's the most expensive test : we need to disassemble the kernel image to get the count of lfence opcodes.

[2018-01-10 19:24] arecki-biker commented on #17
Yes, it's freezing on variant1.
I do not notice such behavior on Debian kernels.

[2018-01-10 19:26] Meriipu commented on #17
Seems to work now for me. Thanks.

[2018-01-10 19:28] arecki-biker commented on #17
Thank you too for modifying this cool script.

[2018-01-10 20:08] speed47 commented on #17
Good to know it works! :)

@dbosanzio I've booted a livecd of a CentOS 5 (which is more or less like your rhel5), and I can see that the `/dev/cpu/0/msr` does exist there.

Did you run the script as root? If yes, can you check if the file is there ? By running `find /dev/cpu` and pasting the results here?

[2018-01-10 21:08] speed47 commented on #36
From your archive, I found `Documentation/spec_ctrl.txt` which explains a bit, and references the `/sys/kernel/debug/x86/ibrs_enabled` file that we've included in the script.
So I think looking for this file should be sufficient, and the script already does it ;)

Closing the issue to tidy up a bit, feel free to reopen if needed

[2018-01-10 21:08] #36 closed

[2018-01-10 22:34] vap0rtranz opened #52 "root / superuser"
Please update doc/disclaimer that root/superuser privileges are required to get accurate results from the script.  Normal user results aren't accurate.  This is because /sys is checked by the script and owned by root on most (all?) Linuxes.

[2018-01-10 22:41] speed47 commented on #52
There should be a red warning at the begining of the script if you're running it unprivileged, did you have it?
It doesn't cost anything to add a notice about this in the readme as you're suggesting, though.

[2018-01-11 02:20] vap0rtranz commented on #52
Ah, I did not see that notice, probably b/c I didn't get any warnings/errors as standard user.  Just got inaccurate results.

I'll close this.

[2018-01-11 02:20] #52 closed

[2018-01-11 05:56] truedays commented on #13
@NeckBeardPrince  I no longer can reproduce the `tail: write error: Broken pipe` error with the latest version. Just run the latest and you should be good.

[2018-01-11 07:15] arrow003 commented on #21
Meltdown is the branded name for CVE-2017-5754 (variant 3)
Spectre is the branded name for the combined CVE-2017-5753 (variant 1) & CVE-2017-5715 (variant 2)
Due to the nature of changes required, a kpatch for customers running Red Hat Enterprise Linux 7.2 or greater will NOT be available.
**Variant 2 can be exploited both locally (within the same OS) and through the virtualization guest boundary.

[2018-01-11 08:39] anchev commented on #21
Is there such firmware at all? And should we really contact Intel (or AMD or whoever) one by one or rather Intel is supposed to provide us with the correct update?

[2018-01-11 08:45] arrow003 commented on #21
I am also looking for a solution
who can help me?

[2018-01-11 09:11] vincentbernat commented on #21
@anchev you can find some of the microcodes here: https://downloadcenter.intel.com/download/27431/Linux-Processor-Microcode-Data-File?v=t

[2018-01-11 09:11] vincentbernat commented on #21
@martypal2005 no, I didn't test that

[2018-01-11 09:40] arrow003 commented on #21
@vincentbernat microcodes   How to install/update Intel microcodes  on Linux?

[2018-01-11 09:43] vincentbernat commented on #21
On Debian and equivalent, look at the "intel-microcode" package. On Redhat and equivalent, look at "microcode_ctl" package. Both comes with microcodes but also with a way to put your own microcodes.

[2018-01-11 09:47] arrow003 commented on #21
thank you very much
microcode_ctl has been updated, but do not know how to operate

[2018-01-11 10:00] arrow003 commented on #21
what else needs to be done? @vincentbernat

[2018-01-11 10:40] dbosanzio commented on #17
find /dev/cpu
find: /dev/cpu: No such file or directory
 find . | grep -i cpu
./cpu_dma_latency

 find . | grep -i msr

Is not present.

[2018-01-11 11:23] #49 closed

[2018-01-11 11:55] anchev commented on #21
@vincentbernat
Can installing such microcode update:
* Damage/brick the system
* Re-enable Intel ME (which I have already disabled using me_cleaner)
?
I also don't see openSUSE Leap 42.3 listed on the left of the page, so I wonder if it is applicable?

[2018-01-11 12:10] anchev commented on #21
@vincentbernat I see they have actually been pushed through openSUSE's updates but even with that i still get VULNERABLE for 'Spectre Variant 2'

[2018-01-11 13:11] speed47 commented on #21
@anchev would you mind sharing the complete output of the script in debug mode ? (`-v -v`).

I don't know which patch OpenSUSE included in their kernel, just want to be sure they didn't do it their own way that couldn't be detected properly by the script at this stage.

[2018-01-11 13:20] anchev commented on #21
[code]
The latest updated package (about an hour ago) through 'zypper up' is:
[code]

[2018-01-11 13:48] rubo77 opened #56 "kernel supports PTI, but how to enable PTI?"
I updated my kernel in a debian vm to 3.16.0-5-amd64 and this tool sais:

[code]

Maybe you should add to the readme, how to enable PTI now?

[2018-01-11 14:05] mirix opened #57 "* Checking count of LFENCE opcodes in kernel: UNKNOWN"
This seems a bit contradictory to me. Why does it say that the opcodes count is unknown and then reports 33? No error message.

$ lsb_release -a
No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu 16.04.3 LTS
Release:	16.04
Codename:	xenial

$ uname -a
Linux blokix 4.4.0-109-generic #132-Ubuntu SMP Tue Jan 9 19:52:39 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

$ sudo sh spectre-m

[2018-01-11 14:18] iptizer opened #58 "Meltdown mitigation not detected for Ubuntu (32bits / i386)"
Meltdown mitigation detection doesn't work for Ubuntu kernels.
Seems Ubuntu activates PTI with the Kernel option UNWINDER_FRAME_POINTER.

See https://wiki.ubuntu.com/SecurityTeam/KnowledgeBase/SpectreAndMeltdown
=> USN 3523-1 (Ubuntu 17.10)
=> https://usn.ubuntu.com/usn/usn-3523-1/
=> Changelog for 4.13.0-25.29 in section 17.10
=> https://launchpad.net/ubuntu/+source/linux/4.13.0-25.29

[2018-01-11 14:31] speed47 commented on #21
All microcodes have not yet been released by Intel. This could mean that your CPU is not in the already released list. You should have a msg at the very beggining of `dmesg` when booting saying that the microcode was successfully uploaded to the CPU.

[2018-01-11 14:33] iptizer commented on #56
PTI can be activated via /sys, see https://access.redhat.com/articles/3311301

[2018-01-11 14:36] speed47 commented on #57
Can you try v0.27?

[2018-01-11 14:55] martypal2005 commented on #21
To enable ibrs for user and kernel mode these are notes from the kernel deveopers.

https://lwn.net/Articles/743019/

After updating the kernel you can:
* Mount debugfs and

Although I'm getting permission denied to modify this flag.

If anyone else has any luck doing this pleas share.

[2018-01-11 14:57] vincentbernat commented on #21
@anchev You need to have the proper microcode first. It seems you have not. After that, SuSE doesn't expose IBRS support in a way that's easy to fetch from the checker script, so you'll still be marked as vulnerable for variant 2.

[2018-01-11 15:10] anchev commented on #21
@speed47 @vincentbernat
The CPU is i7-3770 and is listed on Inte's page. Also:
[code]
What should I do?

[2018-01-11 15:11] mirix commented on #57
It seems to work now. So, should I assume that this kernel has been patched against Meltdown but not against Spectre?

$ sudo sh spectre-meltdown-checker.sh

Spectre and Meltdown mitigation detection tool v0.27

Checking for vulnerabilities against live running kernel Linux 4.4.0-109-generic #132-Ubuntu SMP Tue Jan 9 19:52:39 UTC 2018 x86_64

CVE-2017-5753 [bounds check bypass] aka 'Spectre Varian

[2018-01-11 15:16] vincentbernat commented on #21
The microcode is from 2015, so not updated. Intel didn't release all microcodes. You'll have to wait.

[2018-01-11 15:40] anchev commented on #21
@vincentbernat I can wait but why is that? The CPU is listed on Intel's page and also as noted the updated package shows version 20180108 in the name. At the same time downloading the microcodes from Intel and running `diff -qr /tmp/download/intel-ucode /lib/firmware/intel-ucode/` shows that local ones are different, although updated a few hours ago. This is quite confusing.

[2018-01-11 15:57] speed47 commented on #58
PTI is only for x86_64 kernels, you're running a 32 bits one, that would be why.
the UNWINDER_FRAME_POINTER change you see in their changelog is just them reverting to this unwinder because of a bug with the ORC one, that's not the mitigation per se

[2018-01-11 16:03] speed47 commented on #57
Yes, spectre patches are not even out in upstream/vanilla

[2018-01-11 16:15] speed47 commented on #56
Under debian I'm not sure there's a `/sys` knob as under RedHat, however when you boot it should show up in the `dmesg`. The script also looks for that hint.
I have a test vm under the same version of debian than you and the same kernel, and PTI is shown as enabled.

[code]

[2018-01-11 16:38] iptizer commented on #58
Absolutely right!

So there is no fix for i386 mitigating CVE-2017-5754, or am I understanding something wrong?

[2018-01-11 17:04] speed47 commented on #58
No fix upstream AFAIK indeed, and no idea if it's planned or not!

[2018-01-11 21:08] mauvehed opened #59 "Xen PV silently disables pti/kaiser (was: AWS reports as vuln even after patch+reboot)"
Per https://alas.aws.amazon.com/ALAS-2018-939.html, the correct kernel for AWS AMIs should be: *-4.9.75-25.55.amzn1.[arch]

Anyone know why this is still showing up as vuln to all three?

Even stranger, when I first applied kernel updates via yum, I ran the tool before rebooting and it said meltdown was patched. Then I rebooted and it said all three are vuln. This paste below is PRE-reboot, note t

[2018-01-11 22:36] rubo77 commented on #56
I don't have any line with `isolation` in my `dmesg. Neither on the Debian VM with kernel 3.16.0-5-amd64, nor on my Debian xen DOM0 mashine with kernel 4.9.0-5-amd64

[2018-01-11 22:40] rubo77 commented on #58
please rename this issue to include "on 32 bits "

[2018-01-12 00:13] li1ju commented on #56
same here, running debian jessie and upgrade to latest kernel (3.16.0-5-amd64)
when running the script i got this:
`
Spectre and Meltdown mitigation detection tool v0.27

Checking for vulnerabilities against live running kernel Linux 3.16.0-5-amd64 #1 SMP Debian 3.16.51-3+deb8u1 (2018-01-08) x86_64

CVE-2017-5753 [bounds check bypass] aka 'Spectre Variant 1'
* Checking count of LFENCE opcodes in k

[2018-01-12 01:01] li1ju commented on #56
After a few other tests, it seems that xen is not so verbose..
On a physical host, no problem. on a KVM vm, no problem.
But on my dom0 and or a xen vm (pv mode), then nothing in dmesg or kern.log

[2018-01-12 09:49] speed47 commented on #59
I don't have an AWS instance at hand, as their kernel is custom they might have modified the hints that indicate PTI is active. Could you share your dmesg right after booting? Maybe there's a hint there.
In addition to that, `find /sys /proc -iname "*pti"` might show something. Don't forget to `mount -t debugfs debugfs /sys/kernel/debug` before running the find, just in case

[2018-01-12 09:52] speed47 commented on #59
Could you also re-run the script in debug ? (`-v -v`). 4.9 kernels are supposed to have KAISER (~PTI light) and the script should detect that already.

[2018-01-12 10:37] rubo77 commented on #56
As I understand it, if the kernel supports PKI it is enabled by default. So if you didn't add PKI=off as kernel parameter, it should be enabled also

[2018-01-12 10:44] speed47 commented on #56
I think so, but what I don't get is that with the same distro and same kernel, the boot message about PTI enabled does appear on bare metal, on kvm, but not on Xen. That sounds really strange to me.

[2018-01-12 11:47] davidjmemmett opened #62 "Ubuntu artful still showing vulnerable"
I'm uncertain as to whether this is your issue, or Canonical have failed to fix the problem. I've updated to latest kernel, using latest `intel-microcode` package & verified that initrd was rebuilt.

[code]

[2018-01-12 13:03] speed47 commented on #62
Variant 1 and 2 patches are not officially out yet, Linux kernel upstream is still working hard on both of those.
Canonical says they'll work on those and expect fixes next week it seems https://insights.ubuntu.com/2018/01/12/meltdown-and-spectre-status-update/

[2018-01-12 13:06] speed47 commented on #57
https://insights.ubuntu.com/2018/01/12/meltdown-and-spectre-status-update/

Closing as the output of the script matches what Canonical said.

[2018-01-12 13:06] #57 closed

[2018-01-12 13:15] davidjmemmett commented on #62
According to USN, the updated `intel-microcode` package fixes CVE-2017-5715

https://usn.ubuntu.com/usn/usn-3531-1/

[2018-01-12 13:21] davidjmemmett commented on #62
Sorry, I've just read the full article you posted. I'll close this issue, thanks for passing that on (& apologies for being impatient and blaming your checker). :)

[2018-01-12 13:21] #62 closed

[2018-01-12 14:12] mauvehed commented on #59
-v -v as requested

And _find /sys /proc -iname "*pti"_ returned no results, even after the mount.

[2018-01-12 14:28] zarere opened #64 "Arch linux detected as vulnerable"
Hi there,

As you can see  in the below output I should't be affected:

[code]
But after running your script I see the following:

[code]

I think someting is wrong here.Please advise.

[2018-01-12 14:47] keachi commented on #64
IMHO, the script detects, that you're not vulnerable against CVE-2017-5754 (Meltdown). Kernel/User page tables isolation is against Meltdown only and not against Spectre, so you're vulnerable (there is still no fix for Arch Linux).

[2018-01-12 14:58] mehrotra-prateek commented on #59
+1 same results and issue

[2018-01-12 15:00] lucasRolff commented on #21
@anchev - because the microcode file, contain microcodes for the CPU - it doesn't state anywhere that all microcodes for all CPUs are updated.

I'm not really sure if this script detects correctly whether IBRS is available as microcode or not - since RHEL based systems will often say "Yes" in both kernel + microcode, but not able to enable it via the /sys - so.. I assume in reality the script dete

[2018-01-12 15:27] speed47 commented on #59
Sorry, I forgot a `*` in my previous message, the command to try would be `find /sys /proc -iname "*pti*"`.
If there's still nothing, could you share your `dmesg`? Maybe there's a hint there that I could implement. Also, if the AWS kernel is available from somewhere to download, please share the link, so I could try on my side.

[2018-01-12 15:27] speed47 commented on #64
@zarere , what @keachi said is correct.

[2018-01-12 15:31] c0r3dump3d opened #65 "Script in guest KVM"
![captura de pantalla de 2018-01-12 16-32-28](https://user-images.githubusercontent.com/5602401/34882246-3b99906c-f7b6-11e7-9bbf-9c7ff5b0ab1b.png)
Hi, I have run the script in a guest KVM/QEMU CentOS 7 machine, I have seen that all is ok but the variant 2 it's not corrected because I have not activated IBRS and I have noted that this is not posible because no microcode update for QEMU emulated CPU

[2018-01-12 15:51] michaellass commented on #56
On Xen the PTI/KAISER patch is disabled on purpose: https://patchwork.kernel.org/patch/10143255/

The commit message reads as if the patches are not necessary. There is also information about this in the Xen FAQ: https://blog.xenproject.org/2018/01/04/xen-project-spectremeltdown-faq/

Maybe this script can include a check for this to avoid false alarm?

[2018-01-12 15:55] louismrose commented on #59
I'm also seeing the same issue. On my AWS EC2 instance (which is running Ubuntu 16.04 LTS), I see the following output:

[code]

[code]

[2018-01-12 15:58] speed47 commented on #21
@lucasRolff About the microcode part, the script checks if the SPEC_CTRL MSR introduced by the Intel's microcode update (for IBRS to use) is available. So I'm pretty confident on this check.
Checking if IBRS is compiled in should be error-proof too, however finding out if it's enabled by the kernel depends on the backport and it's not always easy to find in `/sys`. I suspect some backports don't e

[2018-01-12 16:40] speed47 commented on #13
Got another confirmation that this issue is no longer reproducible.

Closing this issue, if you still have the problem @NeckBeardPrince , feel free to reopen!

[2018-01-12 16:40] #13 closed

[2018-01-12 16:43] speed47 commented on #58
Closing the issue as the reported behavior is normal.

Feel free to reopen if needed

[2018-01-12 16:43] #58 closed

[2018-01-12 16:54] speed47 commented on #65
KVM/QEMU have a patch ready to be able to expose the MSR of the host to the guest (the new SPEC_CTRL MSR is what the microcode update makes available).
Do you know if you host microcode has been updated? If yes, and if you have a bleeding edge KVM, I would say the output is correct.
Can you also `grep spec_ctrl /proc/cpuinfo` ? I'm not sure the centos backports are exposing this flag or not, but i

[2018-01-12 17:06] festerspectre opened #66 "Chromebooks (Edgar) reported as vulnerable ..."
Chrome is reported as patched against both Spectre and Meltdown.  Results of running checker in
in developer shell listed below.   This is a vanilla machine w/ dev mode enabled specifically to run checker's live test and see what the results were.  Note UNKNOWN result for CVE-2017-5753 and Mitigation 2 of CVE-2017-5715.  chrome://flags/#enable-site-per-process is enabled on this machine.

    Chec

[2018-01-12 17:25] speed47 commented on #66
I have no access to a Chromebook to be able to test on it, but based on the output of the script, it would seem that the script can't read the kernel configuration nor find the /boot image, so accuracy is very limited in that case.
Can you run the script in more verbose mode ? (`./spectre-meltdown-checker.sh -v -v`)

[2018-01-12 17:30] jon-strayer commented on #59
I'm seeing:
*   Kernel support for IBRS:  YES
*   IBRS enabled for Kernel space:  NO
*   IBRS enabled for User space:  NO
This is on an EC2 CentOS box after upgrading the kernel.

My dmesg includes:
[    0.000000] DMI: Xen HVM domU, BIOS 4.2.amazon 08/24/2006
[    0.000000] Hypervisor detected: Xen HVM
[    0.000000] Xen version 4.2.
[    0.000000] Xen Platform PCI: I/O protocol version 1

[2018-01-12 17:38] speed47 commented on #56
See #59

[2018-01-12 17:38] #56 closed

[2018-01-12 17:40] sylvestre opened #67 "Please tag version"
As you are giving versions to spectre-meltdown-checker.sh, please tag them on github too

[code]

[2018-01-12 17:49] speed47 commented on #59
Some information from #56 :

KPTI/KAISER is automatically and silently disabled when running under Xen PV as seen in the following patch https://patchwork.kernel.org/patch/10143255/

Also, from https://blog.xenproject.org/2018/01/04/xen-project-spectremeltdown-faq/

I have to find a reliable way to detect if the script is running in a 64 bits guest Xen PV to report that pti/kaiser is disabled at r

[2018-01-12 17:50] speed47 commented on #67
good idea :)

[2018-01-12 17:52] speed47 commented on #67
Pushed the current version tag, I'll push the old versions ones when I have some spare time

[2018-01-12 18:00] sylvestre opened #68 "Please add new option --version"
This is helpful for programs like help2man.
thanks

[2018-01-12 18:01] #67 closed, assigned to nobody

[2018-01-12 18:10] speed47 commented on #68
And i'm the first guy to mentally yell at tools that don't have --version... doing

[2018-01-12 18:11] #68 closed, assigned to nobody

[2018-01-12 18:20] iam-TJ opened #69 "Incorrect AMD not vulnerable flag?"
The code in is_cpu_vulnerable() for AMD CPUs sets

variant1=0

Shouldn't this be variant3 a.k.a. Meltdown?

[2018-01-12 18:21] li1ju commented on #59
on a xen dom0/vm, the info can be found in /sys/hypervisor
for exemple, cat /sys/hypervisor/type gives "xen" ;)

[2018-01-12 18:22] speed47 commented on #69
This is exactly the root cause of a bad commit I've made at first (corrected 1 hour later).
This is a shell script, 0 is true :)

[2018-01-12 18:26] iam-TJ commented on #69
Ahh, then why not do =true or =false which evaluate to /bin/true or /bin/false respectively?

That's what I do when working with true/false boolean values to save the confusion of mis-reading what are boolean values (has 2 states) incorrectly.

[2018-01-12 18:37] speed47 commented on #69
Hmm, why not, it would force us to execute those commands at the end of the func to get the proper return code however, but as performance is not that critical in this script, it's probably fine

[2018-01-12 19:07] speed47 commented on #59
Do you have more info about that ? The script needs not only to detect the fact that it's running on a Xen, but more precisely under a Xen PV. is this information available somewhere under the `/sys/hypervisor` tree ? (I don't have a Xen at hand to check that)

[2018-01-12 20:08] li1ju commented on #59
well , that's essentially version informations.
here is what i can find on my xen pv

cat /sys/hypervisor/type
xen

cat /sys/hypervisor/version/major
4
cat /sys/hypervisor/version/minor
4

cat /sys/hypervisor/version/extra
.1

cat /sys/hypervisor/version/minor
cat /sys/hypervisor/version/minor

[2018-01-12 20:10] festerspectre commented on #66
@speed47 My bad, that was v0.27, here is the output for v0.28

    Spectre and Meltdown mitigation detection tool v0.28

    Checking for vulnerabilities against running kernel Linux 3.18.0-16288-g64d05cf80004 #1 SMP
    PREEMPT Mon Jan 8 23:16:08 PST 2018 x86_64
    CPU is Intel(R) Celeron(R) CPU N3160 @ 1.60GHz
    Will use no vmlinux image (accuracy might be reduced)
    Will use no kconfig (ac

[2018-01-12 22:50] kees opened #70 "AMD vulns"
https://github.com/speed47/spectre-meltdown-checker/blob/dce917bfbb4fa5e135b7ed4c84881086766be802/spectre-meltdown-checker.sh#L163

Shouldn't this be var1=1, var2=1, and var3=0 for AMD?

[2018-01-12 22:52] kees commented on #70
Er, sorry, inverted, AMD isn't vulnerable to var3, but IS to var1 and var2, correct?

https://www.amd.com/en/corporate/speculative-execution

variant1=0
variant2=0
variant3=1

[2018-01-13 02:23] h1z1 commented on #70
Interesting script, dunno how much I'd trust it though.   The patches are still being tweaked.

Seriously don't understand why companies like Valve, NVIDIA, AMD, etc don't just come out and say it - fuck Intel.   These "patches" literally shit all over the place while Intel gets free labor for the cleanup.

[2018-01-13 07:58] lucasRolff commented on #21
@speed47 - I run CloudLinux 7 (RHEL based system), I have `/sys/kernel/debug/x86/ibrs_enabled` present, but cannot echo to it using e.g:

[code]

It will simply give `-bash: echo: write error: No such device`, doing a cat on it shows `0`

The script says I have the right microcode, and I know that the kernel supports IBRS as well, but absolutely no way to enable it.

So, either Intel released a pa

[2018-01-13 10:40] c0r3dump3d commented on #65
Hi, yes, the host the microcode has been updated, with the libvirt and qemu packages and it's ok (see the image).
![captura de pantalla_2018-01-13_11-32-15](https://user-images.githubusercontent.com/5602401/34905267-6e7d4ee8-f855-11e7-8c44-ea6d8fe5cd71.png)

But in the guest I haven't seen the flag  `spec_ctrl`, and no microcode update it's present:
![captura de pantalla_2018-01-13_11-36-27](https

[2018-01-13 11:08] yurikoles commented on #70
@h1z1 please stop FUD here.

[2018-01-13 11:55] speed47 commented on #21
@lucasRolff I've grabbed the sources of the kernel you're using to look for the source of the error message you get when trying to write to `ibrs_enabled`

From `arch/x86/kernel/spec_ctrl.c` :
[code]

From `arch/x86/include/asm/spec_ctrl.h`:
[code]

and finally from `arch/x86/kernel/cpu/addon_cpuid_features.c`:
[code]

So, let's go look for the proper CPUID flag on your system.
On (very) recent va

[2018-01-13 12:13] speed47 commented on #70
@kees AMD revised their statement 2 days ago indeed. For variant 2, it went from "very most probably not exploitable and nobody was able to prove it was anyway" to "might be very difficult to exploit but we'll still release microcode updates". Interesting. I think for the moment I'll not change the "not vulnerable" result but adjust the comment next to it

[2018-01-13 12:36] mike155 opened #74 "CPU flags "pcid" and "invpcid""
Thanks for your wonderful tool!

In the last days, I performed various performance tests and measured performance degradation due to Meltdown patches in the kernel, especially in virtual machines. The result is, that the degree of performance degradation is dependent on CPU flag "pcid" and probably also on "invpcid". It might be worth to show presence of these CPU flags in your tool.

I posted my

[2018-01-13 12:37] speed47 commented on #70
Reading again their statement

It seems that they somehow admit that they're vulnerable (as almost everybody is). Changing to vulnerable with a reference to their statement.

v0.29 reflects this change. Closing the issue.

[2018-01-13 12:37] #70 closed

[2018-01-13 12:42] speed47 commented on #69
Closing this, as the comments in the function have been corrected, and the code simplified.
Hopefully this is more readable now ;)

[2018-01-13 12:42] #69 closed

[2018-01-13 12:43] speed47 commented on #17
Could you try the following command?
[code]

This would be another way to detect the microcode update without needing to try to read the MSR

[2018-01-13 12:47] speed47 commented on #65
An updated qemu/kvm is able to expose the microcode update (actually, the MSR that the microcode update adds) to the guest OS. So if you run the script within the guest OS, with a microcode-updated host and a qemu/kvm able to expose the MSR, you should see it as microcode-updated too.

Could you try the following command?
It's another way to test for the microcode update, and might be more accurat

[2018-01-13 12:51] speed47 commented on #66
I'm not familiar with Chromebooks but I'm wondering if the developer shells can access the whole system.
Could you post the output of the following commands ?
[code]

[2018-01-13 13:16] c0r3dump3d commented on #65
Hi, this the output of the comand:

[code]

[2018-01-13 15:29] speed47 commented on #65
Strange, MSR says it's good, CPUID says it's not.

I've pushed a test version on the `cpuid_spec_ctrl` branch. Could you try this version (with `-v -v`) on both your host and from inside the VM, and post the 2 results here?

Additionally, what version of qemu/kvm are you using?

[2018-01-13 16:22] c0r3dump3d commented on #65
Hi, the execution in the host:
![captura de pantalla_2018-01-13_17-16-28](https://user-images.githubusercontent.com/5602401/34907860-906eb87c-f885-11e7-9ab6-2d0e0c51516b.png)

The execution in the guest:
![captura de pantalla_2018-01-13_17-18-12](https://user-images.githubusercontent.com/5602401/34907873-d44f8558-f885-11e7-93b0-8a6cd05b69c2.png)

The libvirt/qemu version:

![captura de pantalla_20

[2018-01-13 16:50] speed47 commented on #65
Thanks! So, this is getting more clear now.

For the Linux kernel to be able to use IBRS, you need two things: the `spec_ctrl` MSR, and a proper bit set in the CPUID info of your CPU. I thought that the availability of the MSR was enough, but it turns out by looking at the kernel sources that it's not: if the CPUID bit is not set, the kernel won't try to use the MSR.

In the qemu-kvm version you'r

[2018-01-13 17:10] c0r3dump3d commented on #65
Ok, thank you very much for your answer and work!!

[2018-01-13 17:10] #65 closed

[2018-01-13 18:03] speed47 commented on #21
I implemented the cpuid check in a separate branch `cpuid_spec_ctrl` that you can test (don't forget the `-v -v`).

[2018-01-13 18:04] lucasRolff commented on #21
@speed47

[code]

And the output of the `spectre-meltdown-checker.sh`:

![blat](https://snaps.trollcdn.com/V1hy6FkPh4V2iTXC2O1i.png)

Dmesg output:

[code]

[2018-01-13 18:45] speed47 commented on #21
I was really expecting not to see the cpuid flag on your system.
Because indeed from the linux-2.6.32-696.18.7.el6 kernel source, the only reason to get -ENODEV from this write is when the cpuid bit is not there. :(
Maybe redhat backported the patch a bit differently on your 3.10.0-714.10.2.lve1.4.79.el7.x86_64 and added more reasons to get -ENODEV, I would have to find the sources

[2018-01-13 19:13] speed47 commented on #21
Sources found => no luck, the stuff around spec_ctrl is exactly the same compared to the el6 sources

[2018-01-14 02:21] festerspectre commented on #66
From [https://www.chromium.org/chromium-os/chromiumos-design-docs/disk-format](url) :

    "Google Chrome OS devices (x86/x86_64/arm) have custom BIOSes that use yet another boot method
    to ensure that the user is running only the bits that are intended. Instead of a separate bootloader and
    kernel, there is one binary blob contained in its own GPT partition. That blob is cryptographically s

[2018-01-14 08:52] nomadictype commented on #21
I had this issue on my CentOS 6 guests (running under KVM/qemu/libvirt inside a CentOS 6 host). On the host, all 3 checks said NOT VULNERABLE. On the guest, the Spectre variant 2 check showed as vulnerable with the same output as the OP had; reboots did not help. In my case the spec_ctrl CPUID flag was not set in the guest (but set on the host, of course).

What helped was to actually shut down th

[2018-01-14 09:56] WordsOfMe opened #78 "Intel Atom vulnerable?"
DId run the script on an Intel Atom 330 / 1.6GHz system, and it is shown vulnerable for all three CVEs. But as per Intel's list at https://security-center.intel.com/advisory.aspx?intelid=INTEL-SA-00088&languageid=en-fr the Atom 330 should not be affected (if I understood correctly).

I guess a check for non-vulnerable Atom processors has not been implemented yet?

[2018-01-14 10:32] lucasRolff commented on #21
@speed47 I'm trying to see if CloudLinux can find the reason - since it seems like everyone with cloudlinux kernel face the same thing - with hardware + kernel support, but no way to enable it.

[2018-01-14 14:13] speed47 commented on #78
Their list is not exhaustive (somebody here said that his CPU was not listed but the exploits were working).
However, for Atoms, it seems correct so I've added a check just for those. New Atoms are still vulnerable so I've just whitelisted the "old" Atoms.
Can you try the "atom" branch ? https://github.com/speed47/spectre-meltdown-checker/blob/atom/spectre-meltdown-checker.sh

[2018-01-14 16:20] speed47 commented on #74
Good idea, I've implemented this in the latest `master` version.
To avoid confusing people and keep the default output of the script as clear as possible, this is only shown in verbose mode.

[2018-01-14 16:45] dgcurtis commented on #21
I can report that I had the same results at nomadictype on ESXi VM guests.  I had two RHEL6 VMs with one reporting as vulnerable to variant 2 and the other showing as not vulnerable.  Once I shutdown machine 1 (not just rebooted) and started it back up, it now shows as not vulnerable.  These were both on the same fully patched ESX host.

This is consistent with the Redhat script available at https

[2018-01-14 17:16] #74 closed

[2018-01-14 17:36] speed47 commented on #59
For now, I'll be relying on what dmesg has to say.
`/sys/hypervisor/properties/capabilities` doesn't seem to help for our use case.

Could you try the `xen` branch?
It should report non-vulnerable for Meltdown only for Xen PV

[2018-01-14 19:44] WordsOfMe commented on #78
Spectre 2 and Meltdown are now "not vulnerable", Spectre 1 is still "unknown" (readelf is not installed as this is a Sophos Home UTM). Plus, the comments "readelf missing" and "your vendor reported..." are not  shown now.
But anyway, great shell script!

[2018-01-14 20:36] speed47 commented on #78
I've added the Atom changes to the main version.
If you try it again, you should have the proper messages (your vendor reported...).
I'm closing this issue, but don't hesitate to reopen if the new main version doesn't work as you would expect!

[2018-01-14 20:52] li1ju commented on #59
yes, seemes the best option.
i tried the xen branch, there is a small typo, line 1011 :)

instead of

(uname -i often gives 'uknown')
and the rest works fine
thanks

[2018-01-14 21:39] speed47 commented on #59
Changed to -m and merged to master. Thanks for testing!
I'm leaving this open for now in case OP wants to test and report.

[2018-01-15 01:46] srkiNZ84 opened #81 "CoreOS detection "UNKNOWN" due to missing "readelf" utility"
Trying to run this command on [CoreOS](https://coreos.com/), we get the output:
[code]
The issue being that CoreOS doesn't have a package manager to make it easy to install "readelf".

The "workaround" I found was to use the CoreOS "toolbox" command to install a Fedora container which mounts the host filesystem under `/media/root` and then run the script in "offline" mode with:

[code]

NOTE: You

[2018-01-15 10:19] speed47 commented on #81
Can you try the CoreOS branch?

[2018-01-15 11:54] speed47 commented on #66
Wow, this seems to be a heavily modified Linux kernel, with a completely non-standard boot procedure.
I'm not even sure the kernel image nor configuration is accessible from the OS once booted.
As I don't have a Chromebook, and apparently no emulator exists, I can't really dig further.
Adding the "help wanted" tag in case a Chromebook guru wants to jump in.

[2018-01-15 11:56] speed47 commented on #17
Could you run the current version of the script (v0.31 or newer) in verbose mode ? (with `-v -v`)

[2018-01-15 12:36] jeanbruder opened #82 "Pine64 board with UNKNOWN status reported as not vulnerable"
Dear Speed47,

Bellow if the output of the provided script executed on a Pine64 board running Linux. The CPU is not detected properly. The report show the board as NOT VULNERABLE, but some tests results are UNKNOWN : Can you please confirm if the board/CPU is vulnerable or not ?

How can I maybe help regarding the board ?

Many thanks in advance,
Best regards.

[2018-01-15 13:06] speed47 commented on #82
It's an ARM board, so indeed you're not vulnerable except if it's running one of the few ARM Cortex that are vulnerable. ARM published a statement about it, and the script is able to correctly detect which ARM chips are vulnerable, and which aren't.

The

line is strange, I'll need your help to fix that, but it's only for display purposes (the script doesn't rely on what's displayed in that case).

[2018-01-15 13:13] speed47 commented on #82
Can you try the `arm_display` branch in `-v -v` ?

[2018-01-15 15:13] Kegeruneku opened #83 "Possible false negative on Xen PV DomUs"
According to https://xen-orchestra.com/blog/meltdown-and-spectre-for-xenserver/:

The checker returns this on a Xen DomU:
[code]

I think `Xen PV is not vulnerable` is a false negative, am I right ? The test should instead check for Xen HVM / PVHVM DomUs.

[2018-01-15 15:19] Kegeruneku commented on #83
I'm a little bit confused by #59 / https://patchwork.kernel.org/patch/10143255/

[2018-01-15 15:50] speed47 commented on #83
I relied on the kernel patch you mentioned to implement this test (and what was reported on the #59 issue)
But reading what Xen has to say on the link you mentioned, I'm confused too.
It seems to me that the kernel patch and Xen blog are saying exactly the opposite of each other.
I'm not a Xen user at all, but probably the best way would be to test a melddown exploit on a Xen PV vs Xen HVM and see

[2018-01-15 16:07] Kegeruneku commented on #83
Yep, this is  a `Quad-Core AMD Opteron(tm) Processor 2381 HE` so the CPU detection works, no worries :-)

[2018-01-15 17:42] festerspectre commented on #66
@speed47  Great, that's exactly what we need here.  Given everything that's gone on, I think the old adage of "trust, but verify" is important, and right now wrt Chromebooks that's a little difficult.

[2018-01-15 18:01] nponeccop commented on #21
@dgcurtis some people reported that the January patches require two reboots of ESXi hosts.

Also, the patches have been since removed (so the recommendation now is the last 2017 patches which still have a part of meltdown patched).

The full drama is here: https://communities.vmware.com/thread/579275

[2018-01-15 19:39] dgcurtis commented on #21
@nponeccop Thanks for that.  I'll have to doublecheck our CPU types to see if we can be affected by this since we've already patched all of the hosts.  Ugh. What a mess.

[2018-01-15 20:51] nponeccop commented on #21
The mess is global. Windows hosts, desktops/laptops, VPS hypervisors and guests - everyone is affected and the patches apparently don't work well for anyone. My laptop crashes a couple of times a day after BIOS update etc. I only hope we don't get something like WannaCry pandemy before everyone is patched. Fortunately it's not a remote exploit.

[2018-01-15 22:10] jeanbruder commented on #82
@speed47 : Could you please help and explain the meaning of :

Regads

[2018-01-15 22:16] jeanbruder commented on #82
CPU isARM vAArch64 Part Number 0xd03

 UNKNOWN  (couldn't read /dev/cpu/0/msr, is msr support enabled in your kernel?)

 UNKNOWN  (couldn't read /dev/cpu/0/cpuidr, is cpuid support enabled in your kernel?)

(debug) ibrs: file /sys/kernel/debug/x86/ibrs_enabled doesn't exist
(debug) ibrs: file /proc/sys/kernel/ibrs_enabled doesn't exist
 NO

 NO

[2018-01-15 22:25] srkiNZ84 commented on #81
Thank you! This works for me, output of commands below:

[code]
Looks like it's working perfectly, not sure why the error message from the container exiting. Does the command exit with "error code 2" if the kernel is vulnerable?

[2018-01-15 22:44] speed47 commented on #82
Thanks! Now I see why you get 'unknown: the script doesn't find your kernel image. Could you provide the output of `cat /proc/cmdline` and `ls /boot` if possible ? Your system might use a naming pattern the script doesn't know yet.

I've also pushed a new version on the arm_display branch with a minor fix (some kernels as yours report AArch64 instead of ARMv8, this is now handled)

[2018-01-15 22:49] speed47 commented on #81
Yes, the exit code of 2 means vulnerable!

Good, I'll merge this to the master branch soon.

[2018-01-15 23:40] t33rex commented on #21
Disable JavaScript in your browsers. I did that the same day the issues were announced.

[2018-01-16 09:33] #81 closed

[2018-01-16 10:27] theoren opened #86 "Additional flags"
It would be useful to add
 --color
 --global
 --no-global

The use case is minimal update making the script default to no-color and no-global exit code
Both may avoid breaking stuff under certain settings

[2018-01-16 13:54] jeanbruder commented on #82
@speed47 :

Hope this will help ... If not, please let me know !

Cheers,
Jean

[2018-01-16 17:20] speed47 commented on #82
Thanks, it does help.

Could you try the new version from the `arm_display` branch again? (in `-v -v`, just in case). It should work now.

[2018-01-16 17:29] razzor1984 opened #87 "Linux Mint 18.3 // ubuntu 16.04 LTS - Why vulnerable to attack 1&2"
Hello,

im running linux mint 18.3 which is basically  a ubuntu 16.04 Lts with microcode intel-microcode 3.20180108.0~ubuntu16.04.2 update an Kernel: 4.13.0-26-generic (which is patched)
Why am i vulnerable to spectre 1?
only 29 opcodes found, should be >=70 -- Vulnerable
Spectre variante 2: Vulnerable
IBRS hardware + Kernel support OR Kernel with retpoline are needed to mitigate the vulnerability

[2018-01-16 18:06] speed47 commented on #86
If I understand correctly, you'd like to change the default to get no colors. People are used to the colored output by now and I don't want to change that. It's also more user friendly in any case, and `--no-color` is here for any scripted need.

As for the exit codes, they're clearly documented, could you be more specific?

[2018-01-16 18:09] speed47 commented on #87
Do you have any evidence that Ubuntu patched their kernel for Spectre 2 and 1 ? AFAIK There's no patch upstream yet for Spectre 1, and Spectre 2 is being worked on actively.
From this link https://wiki.ubuntu.com/SecurityTeam/KnowledgeBase/SpectreAndMeltdown it seems that only testing kernels very recently released have the Spectre 2 patch

[2018-01-16 18:14] jeanbruder commented on #82
@speed47 :

 UNKNOWN  (couldn't read /dev/cpu/0/msr, is msr support enabled in your kernel?)

 UNKNOWN  (couldn't read /dev/cpu/0/cpuidr, is cpuid support enabled in your kernel?)

 NO

 NO

Another kind of tests needed ?

Regards,
Jean

[2018-01-16 18:27] speed47 commented on #82
Uh oh, I thought that `/boot/pine64` was the kernel image file, but apparently it's a directory!
Could you post the output of `find /boot -ls` please? There will be more details with this command than just the bare `ls` command, and hopefully the kernel image will be here (probably in the `/boot/pine64` directory)

[2018-01-16 18:35] razzor1984 commented on #87
I have read that 4.13.0-25 should be patche for spectre and Meltdown
Ok i switch to the newest 4.15 RC - thanks.
best regards Razzor

[2018-01-16 20:06] jeanbruder commented on #82
@speed47 :

Regards,
Jean

[2018-01-16 20:11] c1ph4 opened #88 "Need verification for results of testing the Cell CPU"
Hello and thanks for this tool!

I was able to run it on a PS3 featuring the unique Cell CPU made by STI (Sony, Toshiba, IBM) and thought that this CPU is not vulnerable to Meltdown and/or Spectre.

Unfortunately my results showed the opposite:

---

Checking vulnerabilities against Linux 3.12.6-red-ribbon-powerpc64-ps3 #7 SMP Tue Jan 7 17:09:59 CET 2014 ppc64

CVE-2017-5753 [bounds check bypass]

[2018-01-16 21:25] speed47 commented on #82
Thanks, the correct kernel image seems to be `/boot/pine64/Image` .
I've done the modification on the `arm_display` branch, could you try it again ?

[2018-01-16 21:28] speed47 commented on #87
I'm closing this issue, don't hesitate to reopen it if needed!

[2018-01-16 21:28] #87 closed

[2018-01-16 21:38] speed47 commented on #88
Hello @c1ph4 ! Interesting you're trying this on a good old Cell ;)

However this tool doesn't attempt to run any kind of exploit to see if the CPU is vulnerable or not (it would be very intrigued), what it looks for instead are the known mitigations that have been / are being implemented in the Linux kernel.
This is explained more in details in the --disclaimer of the tool !

[2018-01-16 23:22] mattvw commented on #65
So, I had this exact same issue and I was able to resolve it using existing patches from Red Hat.

It turned out that the CPU Model for the VMs/guests have to be set to an -IBRS version of the CPU, in order for IBRS to be available to the VM. So, instead of just using Broadwell, you would use Broadwell-IBRS, etc. etc (any one of them will work, as shown below). You can also just select "Hypervisor

[2018-01-17 05:55] c1ph4 commented on #88
@speed47: I was just looking around for CPUs which shouldn't be affected in my household. :-)

Okay, so this tool only checks the kernel and can't be used to check the CPU itself? Maybe there's just a misunderstanding.

Do you know of tools which can check CPUs with Linux? I'm also not looking for exploitation, really just checking.

Thanks in advance!

[2018-01-17 06:12] linuxlite opened #89 "Spectre Meltdown Checker Automated"
Not an Issue, informational.

An Automated Spectre Meltdown downloader and checker. Should work on most Linux Distros.
Something for folks who need an easy way to check their system.

https://github.com/linuxlite/Spectre-Meltdown-Checker-Automated

[2018-01-17 06:54] speed47 commented on #88
I was talking about exploits (or PoCs of exploits) because AFAIK there's no other way to tell if a CPU is vulnerable than actually trying to exploit it. However In the case of the Cell, the arch is so specific that even if the Cell was vulnerable, the PoCs that are available around might not even work ! But that wouldn't necessarily mean that it's not vulnerable, maybe just that the PoC is not ada

[2018-01-17 07:27] c0r3dump3d commented on #65
Thank you for the information. Apart from this, now I have seen that RedHat it's rolling back the microcode_ctl update, they have detected instabilities:

[2018-01-17 09:47] Drag0nFly opened #90 "Intel Atom N270 series cpus are not identified as such"
The script checks for the presence of an older Atom cpu in line 174 by grepping for the 'Atom' string in the /proc/cpuinfo output.

However, an Atom string is not present for the N270 model which is reported as:

model name	: Genuine Intel(R) CPU N270   @ 1.60GHz

As such the check should probably be revised to look for the specific Atom model designations (N270/N230/N330, et al.) as opposed to th

[2018-01-17 10:08] speed47 commented on #90
I didn't have any example of model name output for the N series, thanks!
Could you try the latest master branch version ?

[2018-01-17 10:22] c1ph4 commented on #88
Okay, I would bet it doesn't make sense for malicious hackers to write PoC exploits for the Cell then.

Anyway, this tool may always mention that the Cell is vulnerable where in fact the kernel isn't immune against these exploits. But: according to Geoff Levand the most updated kernel we can use on a PS3 is currently 3.15.x due to an unsolved ABI breakage bug and outdated petitboot. So PS3 hardwar

[2018-01-17 10:34] Drag0nFly commented on #90
Still the same behaviour as the string is being checked for the occurrence of 'Atom(TM)', which isn't present. I noticed you modified the N-model designation to any three digits and added Intel in front however -

if grep -qE '^model name.+ Intel\(R\) (Atom\(TM\) CPU +(S|D|230|330)|CPU N\d{3} )' /proc/cpuinfo;

But the Intel(R) and Atom(TM) need to be modified to an and/or statement (or the Atom(T

[2018-01-17 11:02] speed47 commented on #90
This is what this new regex does: ignores the Atom(TM) for Nxxx series. However I was using a PCRE variant (`\d`) that didn't work correctly with grep -E, and I want to avoid having to use grep -P as some old distros don't have it.
Just pushed a new version that use `[0-9]` instead of `\d`, can you confirm it works?

[2018-01-17 12:21] #88 closed

[2018-01-17 12:23] ikkaro opened #91 "Some logs overwrites dmeg, grep kern.log (and possible solution)"
Hi,
Some logs overwrites the kernel log output. (for intance some iptables logs) and you get a false positive about Meltdown PTI. Can you add this lines of code to grep /var/log/kern.log ? (Lines 1054 to 1057)
[code]

[2018-01-17 12:35] Drag0nFly commented on #90
I see - sorry I missed that at first glance. :)

The revised version does indeed behave as expected – thanks for fixing!

[...]
CPU is Genuine Intel(R) CPU N270 @ 1.60GHz

CVE-2017-5753 [bounds check bypass] aka 'Spectre Variant 1'
* Checking count of LFENCE opcodes in kernel:  NO

CVE-2017-5715 [branch target injection] aka 'Spectre Variant 2'
* Mitigation 1
*   Hardware (CPU microcode) support f

[2018-01-17 12:35] #90 closed

[2018-01-17 12:37] msmeissn opened #92 "AMD - speculative control indicator"
Hi,

On AMD processor the processor flag is "ibpb" instead of "spec_ctrl".

-                               if grep ^flags /proc/cpuinfo | grep -qw spec_ctrl; then
+                               if grep ^flags /proc/cpuinfo | grep -qw -E "(spec_ctrl|ibpb)"; then

[2018-01-17 12:52] jeanbruder commented on #82
@speed47 :

Oups ... :-)

Jean

[2018-01-17 13:45] speed47 commented on #92
I know AMD finally announced that they would release microcode updates too for variant 2, but I didn't know those were already available !
I'm making the assumption that the output you're showing is from a microcode-updated AMD system, correct?

[2018-01-17 13:59] msmeissn commented on #92
SUSE has released Ryzen firmware updates we got from AMD and also patches integrated that show this flag. We are not sure (and I do not seem to find them) if they are available publicallly already.

[2018-01-17 16:15] speed47 commented on #91
I can see that's the case under Debian at least indeed. Patching that.

[2018-01-17 17:21] mauvehed commented on #59
Just saw the latest update, @speed47. I'll test today and get back to you!

[2018-01-17 17:59] li1ju commented on #91
imho, it can be something else to watch _after_ dmesg, but kern.log is usually rotated after a few days. so you loose the boot information if you look inside kern.log after a certain amount of time :-/

[2018-01-17 18:34] speed47 commented on #91
Yep, that's why I think I'll have to implement some smarter way to check the dmesg logs :/
Because then just zgrepping /var/log/dmesg.*.gz might find results that don't have anything to do with the current running kernel. I'll come up with a function that does this in a smart-ish way.

[2018-01-17 20:29] sharkmerry7 opened #94 "ubeTrick"

[2018-01-17 21:26] radicimo opened #95 "Assumptions about grep"
Variant 3 will return a false positive on some ARM-based Android systems that implement busybox, because /system/bin/grep is rather brain dead and cannot handle the following:

`grep -qi 'CPU implementer : 0x41' /proc/cpuinfo`

However, using the grep that is installed as part of busybox does function properly.

The script makes assumptions about grep that may not hold true on all Linux variants.

[2018-01-17 21:56] speed47 commented on #95
Thanks for your report.
I try to make this script as compatible as possible, which is why it relies on sh instead of bash, and I avoid using complicated commands (such as grep -P that's not available everywhere).
I'll add a param to ask the use of busybox. Can I have the output of your `busybox grep --help` ? I'll see which params are supported this way

[2018-01-17 22:07] radicimo commented on #95
Usage: grep [-HhnlLoqvsriwFE] [-m N] [-A/B/C N] PATTERN/-e PATTERN.../-f FILE [FILE]...

Search for PATTERN in FILEs (or stdin)

        -H      Add 'filename:' prefix
        -h      Do not add 'filename:' prefix
        -n      Add 'line_no:' prefix
        -l      Show only names of files that match
        -L      Show only names of files that don't match
        -c      Show only count of mat

[2018-01-17 22:11] radicimo commented on #95
All I had to do was change 'grep' to 'busybox grep' and it handled the flags you are using and the pattern matching. The /system/bin/grep appears to be failing with the PATTERN matching:

[code]

[code]

[code]

[2018-01-18 07:00] #94 closed

[2018-01-18 07:31] kuzetsa opened #96 "[cosmetic] --no-sysfs is required for verbosity"
The following verbosity is lost without --no-sysfs

[code]
---
**Note:** Possibly this output is worse verbosity due to naive test of
/sys/kernel/**debug/**.*whatever*/ &nbsp; even when /proc/config.gz is showing:

[code]

(*edited: earlier reference to:* ~CONFIG_DEBUG_KERNEL~ *was improper*)

[2018-01-18 07:48] kuzetsa commented on #96
[code]

**Emphasis:** If unsure, say N.

A naive test assuming this will be enabled is prone to failure.

[2018-01-18 08:17] speed47 commented on #96
Newer kernels having some or all of the mitigations are starting to export the status of the mitigation within the kernel debugfs hierarchy. This is the best way to know if you're safe or not, because the information comes from the kernel directly. Without it, the information has to be inferred from other data (all the stuff that the script does if the debug hierarchy is not there).
It can still b

[2018-01-18 08:33] speed47 commented on #82
Uh oh, it seems to be a strange kernel image! :)

Would you be able to upload this file somewhere for me to have a look at it?
Alternatively, is a distribution of your pine64 OS available from somewhere so I could download it ? I can see there are a lot of distros it seems ( http://wiki.pine64.org/index.php/Pine_A64_Software_Release ) so I'm not sure which one you're using

[2018-01-18 14:48] mauvehed commented on #59
Welp, somewhat different results now.

Here's output from a yum update, followed by running the script, then a reboot, then running the script again.

PRE-REBOOT

[code]

Note it says NOT vuln to Meltdown.

This is AFTER-REBOOT

[code]

Not that Meltdown is now vulnerable again but Vairiant 2 is not.

[2018-01-18 14:55] jeanbruder commented on #82
@speed47 :

Which files do you need ?

Basically :
- I imaged the following Ubuntu version on my SD Card first : https://www.stdin.xyz/downloads/people/longsleep/pine64-images/ubuntu/
- Then I used the provided scripts to upgrade the kernel and u-boot : https://github.com/longsleep/build-pine64-image/tree/master/simpleimage/platform-scripts

Nothing else as this board hosts my cloud only (WEB Serv

[2018-01-18 17:07] speed47 commented on #59
The new kernel you have (and are running after the reboot) has the vulnerability information as seen by the kernel directly exported to the `/sys/kernel/debug` hierarchy. This is the better way to check whether mitigations are in place or not, because it's directly reported by the kernel itself. This is also why the output is way shorter: we just need to read to what the kernel has to say.

It wou

[2018-01-18 17:22] pit65 opened #97 "Atom N270"
The script tells that I am vulnerable?

Imposible.

[2018-01-18 17:24] jtreen opened #98 "Possible false result"
After having applied every update (inncluding BIOS) that I'm aware of these are now my results:

![tool](https://user-images.githubusercontent.com/16100659/35111790-fb88bfd0-fc73-11e7-993c-cc622f04cd03.png)

However, this [Spectre POC from crozone](https://github.com/crozone/SpectrePoC) still executes successfully.

Is the tool falsely reporting that I am not vulnerable, or is the POC no good?

[2018-01-18 17:32] waja opened #99 "Skyfall and Solace incoming"
Hi here,

just a quick note, there are two additional issues incoming: Skyfall and Solace
Still no logos, but I guess this is just a matter of time and this will getting serious. Check out skyfallattack.com.

Cheers, Jan.

[2018-01-18 18:06] speed47 commented on #98
This POC attacks userspace from userspace, to test mitigation for this case, you should try to enable IBRS for user space too (the script correctly reports that IBRS is not enabled for user space in your case).

This is usually not enabled by default because it has a medium/high performance impact, so this has to be your choice to enable it or not (compromise of security vs performance).

On most

[2018-01-18 18:10] speed47 commented on #99
Hello Jan,

Yes, I saw that today.
This might or might not be true, maybe FUD or a prank, or end up being something real. I tend to think this is more a prank than anything else at this stage, but let's be cautious and just wait to see what happens.

(closing this issue to tidy up the issues list, as there's nothing to do for now, except checking what comes out of this website!)

[2018-01-18 18:10] #99 closed

[2018-01-18 18:11] speed47 commented on #97
Could I have the output of `grep model /proc/cpuinfo` on your system?
Detection for a N270 has been adjusted since issue #90, they were misdetected because apparently the name "Atom" doesn't appear in the output, but maybe it does for some versions? Getting the output on your system would help a lot!

[2018-01-18 18:53] speed47 commented on #95
I've made modifications that you can test on the `arm_display` branch.
It should work without using busybox: I've just changed the `\s` by `[[:space:]]` that appear to work with simple versions of grep.
Could you try the `arm_display` branch?

[2018-01-18 20:37] kuzetsa commented on #96
got a [waiting-feedback] email. I'll try to be thorough.

I can't attest to other kernels which do(n't) export info via debugfs.
I maintain sys-kernel/ck-sources package for gentoo, so here's this:
[code]
Because this is going to be vendor-dependent, here's the case I'm most familiar with:
For gentoo specifically, it's up to the user to decide if they want to use a pregenerated config which may or

[2018-01-18 20:42] speed47 commented on #82
Thanks, I could download a copy of the OS image and get access to the famous /boot/pine64/Image file!
It is indeed the kernel image, but it seems to be uncompressed already. But for some reason the `readelf` utility doesn't detect that, which is why the script thinks it can't decompress it successfully.

Could you run the following commands on your ARM system ?
`file /boot/pine64/Image`
`readelf -

[2018-01-18 21:20] speed47 commented on #92
Got it.
Is the source of the kernel you're using (I suppose it's an OpenSUSE one) that shows the `ibpb` flag with updated AMDs available somewhere? I'm trying to document changes as much as I can!

[2018-01-19 04:06] navzen2000 commented on #83
Can this false negative be fixed?

[2018-01-19 09:59] Kegeruneku commented on #83
@speed47 I suggest detecting using dmesg (if possible) if the current host is running as a Xen HVM or Xen PVH instead in this check, I'll try to push a PR in this way so we can discuss on it :)

[2018-01-19 10:07] msmeissn commented on #92
https://github.com/openSUSE/kernel-source/blob/SLE12-SP3/patches.suse/22-x86-cpu-amd-add-speculative-control-support-for-amd.patch    is the patch adding the flag

[2018-01-19 11:37] jtreen commented on #98
Thanks for that. I think it is misleading for the tool to state "NOT VULNERABLE" to variant 2 when it is in fact vulnerable under some conditions. Or perhaps at least "IBRS mitigates the vulnerability" could be clarified.

Do you know the procedure for enabling IBRS for userspace in Ubuntu (16.04)? The command you suggested does not work as I can't write to /sys (even as root) and that file appear

[2018-01-19 12:19] speed47 commented on #98
I can add some test near the "not vulnerable" status to clarify that indeed.

For Ubuntu, it might be in the `/proc/sys/kernel/ibrs_enabled` file if you have it (there are different locations with different distributors/distros)

[2018-01-19 12:26] jtreen commented on #98
Great, thanks! The tool now reports IBRS enabled for both user space and kernel space. However, the POC still executes successfully :/.

[2018-01-19 12:39] speed47 commented on #83
To my understanding, regardless of the version of Xen, same-vm to same-vm attacks are still possible, correct?
If this is the case, we could as well just remove the Xen check entirely.

[2018-01-19 13:51] jeanbruder commented on #82
@speed47 :

Not sure it helps so much ... What are You looking for ?

Cheers,
Jean

[2018-01-19 16:51] speed47 commented on #92
I think I shouldn't just add the `ibpb` flag as a synonym to the `spec_ctrl` flag, because per the patch you linked, these seem slightly different.
For Intel, the `spec_ctrl` flag implies support for both IBRS & IBPB, on AMD there can be support for either both, or IBPB only, or none of the two. And I think the `ibpb` flag implies only IBPB and not IBRS.
I have an AMD at hand to test, but don't ha

[2018-01-19 17:39] pit65 commented on #97
[12:09:02 --> pi in ~]$ grep model /proc/cpuinfo
model : 28
model name : Intel(R) Atom(TM) CPU N270 @ 1.60GHz
model : 28
model name : Intel(R) Atom(TM) CPU N270 @ 1.60GHz

[2018-01-19 17:48] speed47 commented on #97
Thanks. Some N270s appear with this other variation: `model name : Genuine Intel(R) CPU N270 @ 1.60GHz`.
So, implemented both. Latest version should work for you.

[2018-01-19 17:59] speed47 commented on #96
Thanks for your reply.
About the "waiting-feedback" e-mail, no worries, this is just me trying to tidy up the issues to be sure I'm not missing any. I didn't know it was sending an e-mail when this tag was set however.

In any case, I think I understand better your issue now. The script has two "modes" of operation:
- The first one is the one you call the "verbose" one, which tries to fetch as muc

[2018-01-19 19:52] radicimo commented on #95
The modifications in arm_display branch (replacing the \s by [[:space:]]) do work on the system under test. Thank you for the fixes.

[2018-01-19 19:52] #95 closed

[2018-01-19 20:03] waja commented on #99
Still no logos, but I guess this is just a matter of time and this will getting serious. Check out skyfallattack.com.

Looks like a trap or something. But nothing which should deserve our attention.

[2018-01-20 00:10] kuzetsa commented on #96
I like having information, so I wasn't sure about the correct behavior when disabling a feature  resulted in more information. It seemed counter-intuitive, so thanks for having a look at it.

[2018-01-20 11:59] jmithpwnedforsure opened #103 "im infected"
I'm glad I found this Repository. I have had everything unplugged for 5 days now. I'm pretty sure everything in my house is infected including my phone I had a new one.

Now today after much research I still have no idea what is really going on. But earlier I wiped my infected Drive using a fresh USB Ubuntu version USB from a different location and on a different machine I use the gparted and brok

[2018-01-20 16:02] schloegl opened #104 "Pentium E5200 reported as vulnerable - false positive report (?)"
Pentium E5200 is reported as vulnerable, this seems to be a false positive for the following reason:

- Pentium E series is not reported as vulnerable  by Intel
https://www.intel.com/content/www/us/en/architecture-and-technology/facts-about-side-channel-analysis-and-intel-products.html#4
- Pentium E#### is also not listed here
https://www.techarp.com/articles/intel-amd-arm-cpu-bug-4/
- And also th

[2018-01-21 08:08] niusmallnan opened #105 "v0.32 tag missing"
Hi, I see v0.32 has been submitted, but the corresponding tag has not been pushed yet.

Can you please add it? Our internal build script depends on it.

Thanks.

[2018-01-21 11:20] speed47 commented on #105
Indeed, sorry about that.
Fixed!

[2018-01-21 11:20] #105 closed

[2018-01-21 11:21] #103 closed

[2018-01-21 12:04] speed47 commented on #98
I'm not sure the PoC is a proper way to detect that Variant 2 is mitigated for the kernel: the PoC you're linking is actually attacking itself, this just shows that your CPU is indeed vulnerable to think kind of attack.

When the mitigation is in place, it means that the kernel no longer can be attacked, but it doesn't fix the underlying problem: the CPU is vulnerable, and all we can do is apply m

[2018-01-21 12:30] speed47 commented on #104
Thanks for these informations, that's exactly what I need to be able to add a CPU model in the whitelist.

Can you try the `pentium_e` branch? Waiting for your confirmation before merging.

[2018-01-21 12:32] speed47 commented on #17
Closing, as the script evolved a lot since this report.
Feel free to reopen if the problematic behaviour can still be reproduced with the latest versions. Thanks!

[2018-01-21 12:32] #17 closed

[2018-01-21 12:40] speed47 commented on #92
Could you try the `ibpb` branch on an updated AMD system? You'll see that the output of the script will be different than before, now I also check for IBPB in addition to IBRS, for AMD as well as Intel.
The results I expect:

- cpu indicates ibrs capability = no
- cpu indicates ibpb capability = yes (ibpb_support bit) <== only if AMD ucode is updated, that's the part I can't test
- ibrs enabled fo

[2018-01-21 14:33] schloegl commented on #104
I tried the pentium_e branch, and yes the status for "spectre variant 2" is reported as not vulnerable. This seems good.

[2018-01-21 15:13] schloegl commented on #104
I'm still wondering about the "vulnerability" report on "spectre variant 1", the web sites mentioned above do not report a vulnerability on spectre1, shouldnot the report on "spectre variant 1" also show a "non-vulnerability" for this CPU model ?

I do not know the correct answer, I'm just wondering.

[2018-01-21 15:13] speed47 commented on #104
Thanks, merged to master

[2018-01-21 15:13] #104 closed

[2018-01-21 15:18] speed47 commented on #104
About Variant 1, a very wide range of processors (not only Intel's) are vulnerable, even those who are not vulnerable to Variant 2 or Variant 3/Meltdown. I don't know with 100% certainty the correct answer either, and when this is the case the script always default to "vulnerable" (because the main purpose of the script is not to check whether your CPU is vulnerable or not, but whether the proper

[2018-01-21 15:44] speed47 commented on #91
Grepping in /var/log/dmesg or /var/log/kern.log was causing false positives (we have no guarantee we're grepping messages from the same kernel we're currently running on). To avoid reporting false information to the user, just use `dmesg` and add detection for when it's truncated, and report it.

[2018-01-21 15:44] #91 closed

[2018-01-21 17:34] speed47 commented on #97
Closing this issue. Please reopen if, after testing the new version, it still doesn't work for you.
Thanks!

[2018-01-21 17:34] #97 closed

[2018-01-21 17:35] speed47 commented on #96
I've made some modifications to the script, so that, even if the /sys interface is available, other details are still printed. This is in the `ibpb` branch, that you can already test, and which should be merged in master soon.

[2018-01-21 17:36] speed47 commented on #86
No news, closing. Please reopen if needed.

[2018-01-21 17:36] #86 closed

[2018-01-21 17:59] kuzetsa commented on #96
The version I originally tested was never this verbose.
This change is well done, but I noticed some wrapping in the output (including output of --help isn't wrapped to 72 or 80 columns. (*while not everyone has need for large fonts and/or low column counts, this also doesn't mean everyone prefers or uses a high column count workflow. Basically, it looks a bit strange to have indented text in the

[2018-01-21 22:04] Kegeruneku commented on #83
Well, If I read this correctly:

mode.  (Within-guest attacks are still possible unless the guest OS
has also been updated with an SP3 mitigation series such as
KPTI/Kaiser.)

I read this as "as long as you use HVM or PVH, Dom0 to DomU and DomU to DomU attacks are not possible currently, but guests themselves are vulnerable inside their own context unless the kernel contains mitigations (KPTI/Kais

[2018-01-21 23:26] Kegeruneku commented on #83
Something like that =^ ?

[2018-01-22 08:55] speed47 commented on #83
This seems like a good compromise.
You'll find some comments inline on your PR ;)

[2018-01-22 18:23] festerspectre commented on #66
Based on the code at [https://github.com/Eugnis/spectre-attack](url), it would appear that this model of Chromebook (Acer 14 CB3-431-C5EX)  is still vulnerable to Spectre.  Probably they're counting on chrome://flags#enable-site-per-process to mitigate Meltdown.

[2018-01-23 08:38] TechCiel opened #109 "VULNERABLE or UNKNOWN?"
![image](https://user-images.githubusercontent.com/22628325/35265341-d5411350-005a-11e8-8466-3fef487da488.png)
I ran this script on OpenVZ VPS just now and having myself confused.
Does the script have enough info indiacting 5715 and 5754 as VULNERABLE but 5753 as UNKNOWN?

[2018-01-23 08:45] Kegeruneku commented on #83
Good news, here's some more fresh and precise info: https://blog.xenproject.org/2018/01/22/xen-project-spectre-meltdown-faq-jan-22-update/

[2018-01-23 09:39] pascalhuber opened #110 "Different output on --live"
Hi,

First of all: Thanks for the script :+1:

When I run `--live -v` the script gives me a different result than if I configure it with the params:

[code]

Is this behaviour correct?

kind regards
Pascal

**EDIT**

Also: Is the (second) result correct? according to  `/proc/cpuinfo` I am vulnerable to all 3, right?

[code]

[2018-01-23 19:03] speed47 commented on #83
This part clears up the last doubts:

That's what I inferred from other sources but I was still unsure of it because it's kinda counter-intuitive at first. Good! That's what we needed to finalize #108.
Do you think you'll have the time to do the last tiny adjustements to it? I'd like to release a new version soon (I have another branch with lots of modifications I'd like to push to master after #1

[2018-01-23 19:05] speed47 commented on #83
If not, no worries, I can do it by adding a commit to your branch (surprisingly, github seems to allow that)

[2018-01-23 19:56] speed47 commented on #109
Could you run the script again with `-v` ? I'd like to see which kernel parts the script did find (vmlinux and/or System.map and/or the kernel config).

[2018-01-23 20:12] speed47 commented on #110
Hello Pascal,

Regarding the `cat /proc/cpuinfo | grep bugs`, it's just saying that, according to the kernel, your CPU is vulnerable to the 3 variants. As you have an Intel i7, this seems correct. It doesn't say anything about whether the correct mitigations to "fix" these vulnerabilities are in place or not however. This it what my script does.

Now, about the difference of results you seeing in

[2018-01-23 20:20] speed47 commented on #110
Nevermind, I found why! When you specify the --config parameter, it's expecting an uncompressed config file. I'll add a check to detect that!

[2018-01-23 20:28] pascalhuber commented on #110
Thanks for clarifying :)

And here's the output with `--live --no-sysfs -v`. It detects that the kernel was compiled with the retpoline option but without a tepoline-aware compiler.

[code]

[2018-01-23 21:30] speed47 commented on #110
Yes, the "compiled with a retpoline-aware compiler" is extremely difficult to detect properly (it was easier some days ago, but with newer versions of the kernel, they changed something and now it's harder). That's why I now default to UNKNOWN when I can't properly detect it.

If you want, you can try the `ibpb` branch, it has some fixes queued up (retpoline compiler is one of those), and also giv

[2018-01-23 21:50] pascalhuber commented on #110
Awesome, I see more and more green.

Thanks a lot Stéphane! I will stop bothering you now and close the issue ;)

[code]

[2018-01-23 21:50] #110 closed

[2018-01-23 22:58] mittwinter opened #111 "Spectre v2 checks too optimistic? [skylake]"
First of all, thanks for this awesome checker, however, after some research it seems to be overly optimistic for Spectre v1 and v2 in 2 cases (yet in one of them, only probably):

1. According to [retpoline-underflow] Skylake and above (i.e., Core i-6xxx and above) are still vulnerable to a variant of Spectre v2 - even with IBRS support in kernel - and need further patches which are currently stil

[2018-01-24 01:51] TechCiel commented on #109
![image](https://user-images.githubusercontent.com/22628325/35310382-20239a32-00ec-11e8-9803-deaa8c13ae5e.png)
@speed47

[2018-01-24 07:00] speed47 commented on #109
Thanks. It turns out you have no kernel image, no config and no System.map.
So the script has almost nothing to work with, I've pushed a new version that correctly reports unknown for variant 2 & 3 when this is the case!

[2018-01-24 08:09] TechCiel commented on #109
Thanks 0v0

[2018-01-24 08:17] speed47 commented on #111
Hello!

1. I'm following the LKML as much as I can, and indeed things are going pretty fast. There's a lot of discussion and all the patches that are floating won't all get merged. However I see from an email that was sent yesterday that this one might make it ( https://marc.info/?l=linux-kernel&m=151674719914506&w=2 ). I'll start a branch to work on that. The rationale would be : if I detect that

[2018-01-24 10:04] Kegeruneku commented on #83
I can adjust things a bit, let me 2 hours :)

[2018-01-24 16:12] martian742 commented on #78
I have 3 different used Atom systems on the way. Will test and report here as soon as I get them up & running. Thanks for your effort.

[2018-01-24 16:22] Kegeruneku commented on #83
All done !

[2018-01-24 16:39] GreggJensen opened #113 "echo_cmd error with latest commit"
with the latest commit (acf12a6d2d0187acc1ec9c028d9eb632f8259804) there is a problem with the and echo_cmd at line 899.  The error is:

$ sudo ./spectre-meltdown-checker.sh  --batch
./spectre-meltdown-checker.sh: 899: ./spectre-meltdown-checker.sh: -ne: not found

which appears to be that the echo_cmd at that point in the file is not defined (looks like something needs to call __echo before the ch

[2018-01-24 16:53] speed47 commented on #113
Oops, interestingly I didn't bump into that bug during my tests on several machines :(
The fix is easy enough, instead of lazy-initializing the $echo_cmd var, I'll just init it at the beggining unconditionally. Doing...

[2018-01-24 16:57] speed47 commented on #113
Should be fixed in latest master.

[2018-01-24 17:05] GreggJensen commented on #113
Confirmed that this is fixed.

[2018-01-24 17:05] #113 closed

[2018-01-24 17:25] speed47 commented on #78
Thanks, reopening just to be sure I'm not missing your feedback

[2018-01-24 21:02] xftroxgpx opened #114 "--live vs --no-sysfs Which one is right? (for 'Spectre Variant 1')"
Which one should I believe?

Live says I'm vulnerable:
[code]

LFENCE checking says I'm not:
[code]

Tested latest commit of the script: d1c1f0f0f0e9fa69206605c4d38f0bcc9fa55ff4
with kernel: Linux z5 4.15.0-rc9-g0c5b9b5d9adb #178 SMP PREEMPT Wed Jan 24 20:04:41 CET 2018 x86_64 GNU/Linux

[2018-01-24 21:12] schloegl commented on #104
Running the test meltdown-exploit reports that the platform is still vulnerable - see
 https://github.com/paboldin/meltdown-exploit/issues/19 ^F E5200

I do not know which vulnerability (spectre 1, 2 or meltdown) is exploited in this test, but one might revert the clearance for the Pentium E series in this check.

[2018-01-24 22:26] speed47 commented on #114
There is not yet a mitigation for Variant 1 in vanilla/upstream Linux kernel. However, some Linux distros have already implemented one (RedHat at least), by adding LFENCE opcodes at the proper places in the kernel source code. For now there is no other way to detect that than counting the number of occurences of those opcodes. The threshold of 70 is empiric, I see you are above but not from a big

[2018-01-24 22:42] xftroxgpx commented on #114
Thank you, that all makes sense now.

I did, here's the [.config](https://github.com/xftroxgpx/a3/blob/cb38308ec59cab676baf0f518f1a6dc1f45b4fe9/system/Z575/OSes/3archlinux/on_baremetal/filesystem_now/archlinux/home/xftroxgpx/build/1packages/kernel/linuxgit/makepkg_pacman/linux-git/src/linux-git/.config#L1)

I thought I'm lower because I tailored my .config specifically for my laptop, thus having r

[2018-01-24 22:50] xftroxgpx commented on #114
I double checked:
I had 58 opcodes in my previous kernel, which was: linux-git-4.15rc8.r72.g8cbab92dff77-1-x86_64.pkg.tar
but that one wasn't compiled with the retpoline aware gcc (if that makes any difference)

[2018-01-24 23:09] xftroxgpx commented on #114
Here's the LFENCE count for two other stock (archlinux) kernels, listed by package name:

<details><summary>linux-lts</summary>

[code]

[code]
</details>

<details><summary>linux</summary>

[code]

[code]
</details>

I'm guessing then, you were right, I chose to compile some usual modules(eg. radeon) into kernel (ie. `y` not `m`) which increased my LFENCE count.

[2018-01-24 23:09] #114 closed

[2018-01-25 09:31] knweiss commented on #111
@mittwinter Regarding 1) Maybe I'm misunderstanding your comment but my understanding of the situation is different:

The software-only **retpoline** mitigation alone is not sufficient on Skylake+ - IBRS, however, is (for the kernel). (I.e. the retpoline mitigation itself is just an optimized alternative for the more expensive IBRS mitigation. And on CPUs older than Skylake it is good enough as a

[2018-01-25 09:48] speed47 commented on #111
This is my understanding too. To try to summarize a bit, to mitigate Variant 2, either

- You enable IBRS + IBPB (hardware support thu CPU microcode required for both). This works for all CPUs, as long as the microcode is updated.
or
- You don't have a Skylake CPU, you compile the kernel with the RETPOLINE option, with a retpoline-aware compiler. You also need IBPB to have a complete protection (b

[2018-01-25 10:04] #83 closed

[2018-01-25 10:06] speed47 commented on #59
Should be fixed by #108, please test latest version on master branch. If no negative feedback, I'll tag a new release

[2018-01-25 10:29] mittwinter commented on #111
@knweiss @speed47 Thanks for the clarification on the details. I found the cited LKML mail after I reported this issue here, and until then all sources that I found read like IBRS is not sufficient on Skylake and above.
So far, the sources I read even diverge regarding the affected generations: Sometimes it's "Skylake" sometimes "Skylake and above" (e.g., the cited mail by David Woodhouse just men

[2018-01-25 10:33] knweiss opened #115 "Report broken microcode releases"
Intel's early (initial) microcode releases for the Spectre v2 mitigation were broken
and therefore [deprecated](https://newsroom.intel.com/news/root-cause-of-reboot-issue-identified-updated-guidance-for-customers-and-partners/).

The checker could **detect and report the broken early microcode releases** (and maybe also link to the fixed microcodes when they become available).

The following posti

[2018-01-25 12:30] knweiss commented on #111
@mittwinter Skylake, Kabylake, Coffeelake, and Cannonlake are all CPUs based on the Skylake **microarchitecture** and [affected](https://security-center.intel.com/advisory.aspx?intelid=INTEL-SA-00088&languageid=en-fr). I.e. when mails mention "Skylake" they (_probably_) reference the microarchitecture, not only its first incarnation.

(Icelake will be the next microarchitecture.)

[2018-01-25 12:52] WordsOfMe commented on #78
With today's version an Atom 330 is shown to be vulnerable to Spectre 1 and non-vulnerable to Spectre 2 and Meltdown. Shouldn't early Atoms be immune to Spectre 1 as well?

[2018-01-26 11:04] speed47 commented on #115
Good idea. I'll start a branch about that. Even if the kernel does have a blacklist, if it's in this script, it'll be able to report these problematic microcodes regardless of the kernel version running

[2018-01-26 12:00] speed47 commented on #115
Pushed to `bad_ucode` branch

[2018-01-26 12:21] knweiss commented on #115
@speed47 Great! I've tried the `bad_ucode` code successfully on a system with a bad microcode version and saw the error message.

What to you think about printing the detected microcode version in the error message?

[2018-01-26 13:03] speed47 commented on #115
I could be of some help so that people know what to look, done

[2018-01-26 13:40] speed47 commented on #115
Merged to master / v0.33

[2018-01-26 13:40] #115 closed

[2018-01-26 13:41] speed47 commented on #59
Merged to master / v0.33.
Please reopen issue if needed.

[2018-01-26 13:41] #59 closed

[2018-01-26 13:41] speed47 commented on #109
Released in v0.33

[2018-01-26 13:41] #109 closed

[2018-01-26 13:50] speed47 commented on #92
I couldn't find any updated AMD microcode yet, even under OpenSUSE Tumbleweed as of `kernel-default-4.14.14-1.7`.
I guess we'll have to wait a bit to be able to test, but this is already implemented in v0.33 from the documentation (and LKML emails) I could find.

[2018-01-26 15:37] martian742 commented on #78
Same concern here, I ordered 3 different Atom based systems with 2 flavors of older Atoms: **N450**, **D2700**. Specifically to build some "more secure" systems that would be independent of the fixes the whole world is developing right now (not saying the fixes are or will be bad, they just may be insufficient forever on some CPUs).
I originally based my purchase decision on this list:    https://

[2018-01-27 15:00] user23498723452 opened #117 "Can you report model,stepping,microcode codes/values?"
Can you report model,stepping,microcode codes/values?  Perhaps right next to the CPU description value?  Seems like a very simple but useful feature to add for those who have trouble identifying this.

[2018-01-27 22:59] h1z1 commented on #70
Just realized this was responded to.  @yurikoles I don't know what you're referring to, what FUD?  The patches were as they are now, still being worked on.  The impact of them some vendors are not willing to even discuss while others are.   The output I pasted was from one of my own hosts.  So again what FUD are you talking about.

Spectre and Meltdown are two different classes of bugs.

[2018-01-28 09:42] #98 closed

[2018-01-28 12:09] Aisyk opened #118 "Error on launch"
With this command :
[code]

Ubuntu Gnome 16.04.3 LTS.

[2018-01-28 12:17] debalance commented on #118
Running shellcheck (https://www.shellcheck.net/) on spectre-meltdown-checker.sh gives quite a few suggestions how to make it more reliable across different shells.

[2018-01-29 07:59] speed47 commented on #118
@debalance thanks for the pointer, I'm trying to be shell agnostic and this tool will clearly help!
@Aisyk this is strange, the 10 first lines are just comments, maybe there was a problem when you downloaded the file? Can you try downloading it again? `wget https://raw.githubusercontent.com/speed47/spectre-meltdown-checker/master/spectre-meltdown-checker.sh`

[2018-01-29 09:36] speed47 commented on #118
Shellcheck warnings fixed or excused in 9b53635eda51f97a5bdd382421df71fa3ff1bac5

[2018-01-29 10:18] speed47 commented on #104
The exploit you linked is meltdown. So it seems E5200 is vulnerable to variant 2 only (as per the previous test). Change done in 6e544d6055e917778a6e6be8189fdd2a36aa4e27. Thanks.

[2018-01-29 13:01] debalance commented on #118
Nice, thx! Works for me :)
(BTW: I don't have any problems on Ubuntu 16.04)

[2018-01-29 13:03] Aisyk commented on #118
@speed47 It works, thanks !

[2018-01-29 13:18] speed47 commented on #118
Good! I'm closing this as both issues are fixed ;)
Feel free to reopen if needed.

[2018-01-29 13:18] #118 closed

[2018-01-29 15:24] knweiss opened #119 "The vulnerability status is kernel-only - what about user space?"
I'm wondering if `spectre-meltdown-checker` should emphasize in its status output that it is "only" reporting the **kernel's** vulnerability status.

Example: Mitigating Spectre Variant 2 in the kernel with retpoline won't mitigate any **user space** application. They remain vulnerable i.e. user space process A may still be able to read memory of user space process B.  (That's why [Fedora will pro

[2018-01-29 16:13] speed47 commented on #119
I don't want to change the output of the script to explain this, however the disclaimer (advertised at each launch on the last line) is probably the proper place do to that. Will do.

[2018-01-30 00:15] xftroxgpx commented on #119
Hey, any idea what the gcc flags we are supposed to be using for Spectre v2 mitigation for user spage programs?
And if anyone finds out, would they be included in the `--disclaimer` output ?

I'm currently using (but have no idea if good):
` -mindirect-branch=thunk -mindirect-branch-register`

<details>

[code]
</details>

[2018-01-30 10:40] dfxi14 opened #120 "the result, should I worry?"
![spectre_and_meltdown](https://user-images.githubusercontent.com/35186579/35561831-17b9745a-05e4-11e8-8c11-5490cfa27ccf.png)

--------------------------------------
hp pavilion 23 aio

[2018-01-30 11:44] speed47 commented on #120
You should update your system to get all the fixes the vendor of your OS might have made available.
If after a complete update, you're still marked as vulnerable for all, you should check with said vendor (`deepin`) to see if there's any update planned on their side.

[2018-01-30 12:25] knweiss commented on #119
@xftroxgpx As far as I know `-mindirect-branch=thunk -mindirect-branch-register` should be fine. The latter flag is required for compatibility with [Control-Flow Enforcement Technology (CET)](https://software.intel.com/sites/default/files/managed/4d/2a/control-flow-enforcement-technology-preview.pdf) feature of coming Intel CPUs.

FWIW: You can use the **Compiler Explorer** website to see and comp

[2018-01-30 15:35] DigTron opened #122 "Output for Libreboot'd Thinkpad X60 misleading"
([Libreboot](https://libreboot.org/))
First thanks for the script, and I understand this is a zany edge case but thought you should know.
Reports not being vulnerable to Spectre 1 on  4.10.0-35 and 4.13.0-31 but that it is on 4.14.15-041415... and 4.14.13 that I don't have the output on hand for.
Constantly reports vulnerability to Meltdown yet when testing https://github.com/paboldin/meltdown-exp

[2018-01-30 16:25] DigTron commented on #122
My sincerest apologies, the CPU is a T2400, I copped on late to the fact that (likely because of libreboot) the system is reporting an odd and nonexistent model number. https://ark.intel.com/products/27235/Intel-Core-Duo-Processor-T2400-2M-Cache-1_83-GHz-667-MHz-FSB .

[2018-01-30 20:47] speed47 commented on #122
Hello DigTron,

Don't worry about the wrong CPU model reported by your kernel, as the script doesn't rely on it too much appart from whitelisting some CPUs that are known not to be vulnerable (in any case, the T2400 is not whitelisted, so this wouldn't have changed the output)

Now about the variant 1 check. As the official patches are coming out (this is the last variant to be taken care of by th

[2018-01-30 22:03] ejbolt opened #123 "Arch Linux Hardened kernel reports not vulnerable but CPU vulnerability reports as being vulnerable"
![image](https://user-images.githubusercontent.com/21202046/35594212-f2898cd0-05d7-11e8-9e65-d21c4e8057b4.png)

Arch Linux hardened kernel 4.14.15-1 on Intel Core i7-6700HQ @ 2.60GHz

I'm a bit confused on the output of the script, as it reports my XPS as not vulnerable in the sections for variants 2 & 3, but up above it is reported as vulnerable.  Is there something I'm missing in what the above

[2018-01-30 22:07] cement-head commented on #123
Run as root (sudo)

[2018-01-30 22:08] ejbolt commented on #123
Whoops, let me update the screenshot
Same results when run as sudo

[2018-01-30 22:09] ejbolt commented on #123
Any ideas on why there's still one Unknown value?

[2018-01-30 22:19] speed47 commented on #122
Would you be able to test the script from the `lfence` branch?
I've updated the variant1 heuristic that is based on lfence opcodes, I've tested it on some x86_64 and i686 kernels, and the results seem way better than the previous method.

[2018-01-30 22:23] speed47 commented on #123
Yes, this is a tiny bug in the v0.33 release that has been fixed in the commit that follows it. You can mentally replace this "unknown" by a "no" : if the arch_capabilities MSR is not exposed, then the RDCL_NO bit is never set. Don't expect any CPU to have this bit set before a couple of months or maybe even 2019 (CPUs that will advertise the fact that they're not vulnerable to meltdown).
I didn't

[2018-01-30 22:25] ejbolt commented on #123
Excellent, I just wanted to check if it was a bug or if I had to do something manually on my machine.  You've done excellent work on this so please don't take it as a criticism. :)
This is an awesome script.

[2018-01-30 22:25] #123 closed

[2018-01-30 22:46] speed47 commented on #119
I've added a note about userspace in the disclaimer.
About the gcc options to use, I would second what @knweiss says, from my understanding.

[2018-01-31 10:50] Mbuto opened #124 "spectre-meltdown-checker.sh: 449: ./spectre-meltdown-checker.sh: 3: parameter not set"
Running the script (v0.33+) on Ubuntu 17.10 w/ kernel 4.13.0-32-generic on a Lenovo I3 Skylake, I get the following error:

Any prevoious version worked fine.

Thank you for assistance. Regards

[2018-01-31 11:14] speed47 commented on #124
Thanks for the report, this should be fixed on the latest commit!

[2018-01-31 13:06] speed47 commented on #78
According to a kernel patch that just landed (not yet merged in any release), the CPUs that don't do speculative execution and hence are not vulnerable to any of the 3 variants are:

[code]

N450 : Pineview => no specex
D2700 : Cedarview => no specex
330 : Diamondville but a kind of Pineview (model 0x1C) => no specex.

I'm adding the code that will detect that as future kernels will, in a branch t

[2018-01-31 13:20] Mbuto commented on #124
here I confirm: **FIXED**!

[2018-01-31 13:20] #124 closed

[2018-01-31 13:23] speed47 commented on #78
Could you try the `refacto` branch ? I would be interested to get the results from some Atom owners, to be sure that it works correctly.

[2018-01-31 14:51] PrismaComputer opened #125 "Reporting of Kernel 4.15 worse than 4.13 ?"
On a azure Ubuntu 16.04 test machine I installed Kernel 4.15. This Kernel should be fully fixed regarding meltdown and spectre. But your tool reports now more vulnerabilities than with 4.13?? Are we sure this is true?

`Spectre and Meltdown mitigation detection tool v0.33+

Checking for vulnerabilities on current system
Kernel is Linux 4.15.0-041500-generic #201801282230 SMP Sun Jan 28 22:31:30 UT

[2018-01-31 15:12] speed47 commented on #125
The 4.15 you have is apparently from "Ubuntu mainline", this means a so-called "vanilla", untouched kernel from kernel.org. This is not the same as the 4.13 you might have tested that is an Ubuntu-modified kernel. Some vendors such as Canonical did add some mitigations in their kernel (that the script detects), which were not yet in the upstream vanilla kernel.
The mitigations in 4.15 also depends

[2018-01-31 17:03] PrismaComputer commented on #125
4.13 is only heuristic Ok. spectre2 is also unpatched.
Oh my god what a horror. Are other distros also performing as bad as canonical?
(and microsoft/canonical with its "linux-azure" kernel performs also bad). What a crisis...

[2018-01-31 17:21] speed47 commented on #125
I think 4.13 should be patched thru IBRS with Ubuntu, but it's not 100% sure due to the problematic Intel microcodes that were released then removed (and they're needed for IBRS). You might want to run the latest version of the script on your 4.13 to check that.
It's not really Canonical's fault (or Microsoft), the vulnerabilities were in fact way more complex that thought at first, and everybody

[2018-01-31 18:32] DigTron commented on #122
Thanks for your time and sorry for the trouble and being so slow getting back. This is a 32-bit cpu, so 64-bit kernels are not an option right? The marketing-boys-at-Intel's troll of a naming scheme may have struck again over a decade later. I think it was something like Core Duo = 32bit and Core 2 Duo = 64bit, confusing AF at a glance.

I asked for clarification regarding the Meltdown test. Looki

[2018-01-31 18:45] DigTron commented on #122
And those other 2 kernels I was using
[code]
[code]

[2018-01-31 18:45] speed47 commented on #122
Ah, I didn't remember that some "Intel Core" commercial names were 32 bits back in the days.

Anyway, I can see that the new heuristic for variant1 is way better : it now correctly detects your 4.14.15-041415-generic (which is a vanilla kernel compiled by Ubuntu, but without the Ubuntu patches) as vulnerable to variant 1 (0 opcodes found).

About meltdown, let's wait for the answer of the PoC auth

[2018-01-31 18:57] DigTron commented on #122
I'm glad you are at least finding it interesting :D, just wish I had a non Libreboot'd X60 to test with now to be of more use. Do you think the neutered IME and/or missing microcode updates could be whats making it not vulnerable?, if it actually turns out to be not vulnerable that is.

[2018-01-31 19:31] AndyLavr opened #126 "Kernel 4.15.*-wip-x* (Full support IBRS/IBPB/LKRG)"
# WIP Kernel 4.15.* (http://wip-kernel.ru/)

[![standard-readme compliant](https://img.shields.io/badge/readme%20style-standard-brightgreen.svg)](https://github.com/RichardLitt/standard-readme)
[![Releases](https://img.shields.io/badge/Release-last-green.svg)](https://github.com/AndyLavr/wip-kernel/releases)
[![Donate with Bitcoin](https://en.cryptobadges.io/badge/micro/1KvWrbLhuzk8DSb2Yq2948bMj3u

[2018-01-31 20:15] AndyLavr commented on #125
#### [Kernel 4.15.0-wip-x4 (Full support IBRS/IBPB)](https://github.com/speed47/spectre-meltdown-checker/issues/126)

[2018-02-01 08:01] WordsOfMe commented on #78
With the current refacto branch I get a "non vulnerable" for all CVEs on an Atom 330 board (family 6, model 28=0x1c: Diamondville / Pineview).
Seems OK now, thanks!

[2018-02-01 15:23] robleady opened #127 "Spectre Variant 1 - Differences between v032 and v034 results on RHEL 6"
On a fully patched RHEL 6 system , v034 is reporting Spectre Variant 1 as being Vulnerable, but on v032 it was Not Vulnerable.

[code]

[code]

Does that imply Red Hat's fixes for CVE-2017-5753 are incomplete, or is the latter script doing something wrong/different ?

[2018-02-01 21:27] AlexeiMQ opened #128 "Spectre Variant 1 - FENCE check"
V.0.34 Line 1280 - the script counts LFENCE (load serialization) only.
Seems like some kernels (for example Amazon Linux, Amazon Linux 2) use MFENCE (load/store serialization) instead.

If this assumption is correct:

1. replace Line 1280 to:
nb_lfence=$(objdump -d "$vmlinux" | grep -w -B1 'lfence|mfence' | grep -Ewc 'jmp|jne|je')

2. the following lines have to be added after Line 1315:
elif [ "$

[2018-02-01 21:45] sylvestre opened #129 "Next to the error, please also link to the fix(es) if possible"
I know this isn't easy but instead of just being the messenger of bad news, it might be great to have link to potential fixes!

[2018-02-02 09:01] speed47 commented on #78
Thanks, this has been merged to master, closing.

[2018-02-02 09:01] #78 closed

[2018-02-02 09:02] speed47 commented on #117
Done in master branch, closing

[2018-02-02 09:02] #117 closed

[2018-02-02 09:02] #120 closed

[2018-02-02 09:06] #21 closed

[2018-02-02 09:54] knweiss commented on #127
FWIW: I see the same difference on RHEL6. The new heuristic doesn't seem to cover Red Hat's Spectre Variant 1 mitigation on RHEL6.

Here's the comparison of Spectre Variant 1 between 0.34 and Red Hat's own checker `spectre-meltdown--23ef32a.sh`:

[code]
Red Hat's checker:
[code]

[2018-02-02 10:26] speed47 commented on #127
Thanks for the reports. I checked the RedHat's detection script, but unfortunately it just relies on the fact that the kernel has IBRS enabled (part of variant 2 mitigation) to come to the conclusion that variant 1 is also mitigated. This works only for their kernels (as they correctly state) because they somehow know that they patched variant 1 and 2 at the same time. Unfortunately I can't rely o

[2018-02-02 10:59] knweiss commented on #127
I hope they'll backport the `/sys/devices/system/cpu/vulnerabilities/` directory to RHEL6, too.

[2018-02-02 11:06] knweiss commented on #128
It would be interesting to know the sources and difference of all the various Spectre v1 mitigation patches...

For the record: Here are the official Intel and AMD whitepapers regarding Spectre mitigation which list the recommended instructions:

- AMD: [Managing Speculation on AMD Processors](https://developer.amd.com/wp-content/resources/Managing-Speculation-on-AMD-Processors.pdf) (pdf). This is

[2018-02-03 14:45] speed47 commented on #128
Do we have evidence that the Amazon kernel has been patched for variant 1 ?
I grabbed a copy of their 4.9.62-10.57 and 4.9.76-38.79 kernels. The first one is dated early December and is not patched for any variant as expected. The second one, which is the most recent to date, is patched for variant 2 (retpoline) and meltdown (PTI). The script correctly finds out. But I see no known mitigation for

[2018-02-03 15:40] sylvestre commented on #129
Yeah, telling something like
"In Debian, update to linux-image version XXX"
for the firmware, the software is available here http:// ....

[2018-02-03 16:01] knweiss commented on #128
Regarding `lfence` / `mfence`: Looking at the [latest Spectre variant 1 mitigation patchset](https://lkml.org/lkml/2018/1/29/960) for 4.16 I noticed that these instructions will be patched in at boot time using the "alternatives" mechanism:

- [PATCH v6 04/13 x86: introduce barrier_nospec](https://lkml.org/lkml/2018/1/29/969)

I.e. if I'm not missing something you can't necessarily find them in th

[2018-02-04 03:48] jidanni opened #130 "Add a final total STATUS"
I think many administrators will just look at the last result, and think they "passed  the test OK" if it says:
[code]
Therefore consider adding a final total status that is the combination of all the other statuses. (Any FAIL then total=FAIL.)

As far as the additional:
[code]
It would be best to put that quote elsewhere, lest some think it is part of the result.

[2018-02-04 03:50] jidanni commented on #130
Actually the problem is the administrator will only look at the final line,
[code]
not noticing there are other sections above it...

[2018-02-05 07:29] kamal2222ahmed opened #132 "parse error: Invalid numeric literal at line 1, column 2"
trying to get the jq parsing to work:

$ sudo /usr/local/bin/spectre-meltdown-checker.sh --batch json 2>/dev/null | jq .
parse error: Invalid numeric literal at line 1, column 2

not sure why i am getting Invalid numeric literal at line 1, column 2

line 1 column 2 would be "!"

I am running the script on Red Hat Enterprise Linux Server release 7.4 (Maipo)

[2018-02-05 10:38] f-s opened #133 "Original Spectre CPU exploit still works, although detected "not vulnerable"?"
Hi,

https://github.com/crozone/SpectrePoC

might still succeed, albeit SV1 & SV2 detected  "not vulnerable"?

Thanks,

fse

[2018-02-05 11:46] knweiss commented on #133
My take: This Spectre PoC is an **in-process** attack i.e. the attacker code and the victim data are in the same process.

The mitigations checked by the `spectre-meltdown-checker` "only" mitigate userspace-to-kernel and cross-process userspace attacks.

This is also why e.g. web browsers need [separate Spectre mitigation patches](https://webkit.org/blog/8048/what-spectre-and-meltdown-mean-for-web

[2018-02-05 11:53] speed47 commented on #128
@knweiss For this patch, looking for lfence opcodes won't work because as you said, this'll be introduced with the `alternative` mechanism which an "empty old opcode" (i.e. nothing to grep for). The lfence opcodes will be present in the `.altinstr_replacement` section of the kernel binary, so technically there will be more lfence there than in a kernel without this patch. However lfence has also b

[2018-02-05 12:02] f-s commented on #133
Excellent, the tool should clearly state/check that the CPU/System is still *in-process* Spectre vulnerable, should it not?

[2018-02-05 14:20] speed47 commented on #133
@f-s did you read the `--disclaimer` ? ;)

This is also why `--disclaimer` is advertised at the bottom of the script run: it's important to read it at least once!

[2018-02-05 14:20] #133 closed

[2018-02-05 14:21] speed47 commented on #132
I can't reproduce the issue from here :(
Could you please run the script again, but without piping the output to `jq .`, and paste the output here?
Thanks!

[2018-02-05 14:41] f-s opened #134 "FEATURE: Implement check for Spectre vulnerabilities according to existing PoCs of Spectre"
Hi,

because the PoCs are widely available on github, add next to the "mitigation attempt exists" checks spectre-meltdown-checker performs well, a "real" check which tests for the vulnerability.

Thanks,
fse

[2018-02-06 14:49] polluks opened #135 "FEATURE: NetBSD support"
At least we have /proc/cpuinfo...
However /bin/echo makes some trouble but the shell builtin takes -e.

[2018-02-06 15:02] speed47 commented on #135
Right now the check is very Linux-centric (but distro agnostic), because we're checking for the mitigations of the Linux kernel. Even if you have `/proc/cpuinfo` the information there is probably exposed in a different way that Linux and most of the checks might not work.
Also under BSD the mitigations will probably be very different, so I don't know if it'll be easy to implement.
Has any of the m

[2018-02-06 15:04] speed47 commented on #119
Closing, as the disclaimer had been updated some versions ago to notify the users about this

[2018-02-06 15:04] #119 closed

[2018-02-06 15:06] polluks commented on #135
I see.
https://blog.netbsd.org/tnf/entry/recent_security_affairs

[2018-02-06 18:04] speed47 commented on #135
Interesting. I'm not against implementing a NetBSD check, but I think we'll have to wait for the patches to land. Maybe it's doable for SVS however (NetBSD's version of PTI)

[2018-02-07 12:38] sambalaji commented on #21
Output from Centos 6.7 after yum update -y && reboot:

Spectre and Meltdown mitigation detection tool v0.34+

Checking for vulnerabilities on current system
Kernel is Linux 2.6.32-696.20.1.el6.x86_64 #1 SMP Fri Jan 26 17:51:45 UTC 2018 x86_64
CPU is QEMU Virtual CPU version (cpu64-rhel6)

Hardware check
* Hardware support (CPU microcode) for mitigation techniques
  * Indirect Branch Restricted Spe

[2018-02-08 17:11] maurom opened #138 "Retpoline enabled: NO using Linux 4.15.2"
Running spectre-meltdown-checker with the just-released kernel 4.15.2 reports

[code]
which is quite strange, because the kernel was compiled with full retpoline and there's no parameter in the command line disabling it. Here's the [full s-m-c report](https://maurom.com/kernel/4.15.2/spectre-meltdown-status-4.15.2.txt) and the command line:

[code]

It may be relevant to note that the kernel devs

[2018-02-08 21:20] Razerwire opened #139 ""Known bad microcode list" is outdated."
The known bad microcode list is outdated, more specifically:
[code]

Intel now advises that 0xc2 microcode updates can be continued to be rolled out:
![image](https://user-images.githubusercontent.com/14997009/35998580-008ea6dc-0d15-11e8-8951-30e6f02577c0.png)

The full Microcode revision guidance dated February 7th 2018 can be found [here](https://newsroom.intel.com/wp-content/uploads/sites/11/20

[2018-02-09 18:57] speed47 commented on #139
Thanks for the pointer!
The list has been updated in commit eb75e51 (master branch)

[2018-02-09 18:57] #139 closed

[2018-02-09 19:04] #125 closed

[2018-02-09 19:11] speed47 commented on #138
Indeed the kernel devs cleaned up some flags they started to introduce in /proc/cpuinfo, and one of those is `retpoline`. I'll just remove the "retpoline enabled?" test, because for newer kernels, the /sys interface does give the answer anyway, in a more reliable manner than checking in `dmesg`.

[2018-02-09 19:14] speed47 commented on #138
done in 22cae60 (master branch). Thanks for noticing.

[2018-02-09 19:14] #138 closed

[2018-02-09 19:19] speed47 commented on #96
Thanks for the proposition, but I don't want to enforce a 72 or 80 chars max per line rule, because that would make the output more difficult to understand in some cases. I'm still trying to avoid lines that are really too long, though!
Closing this issue as the original problem is resolved. Trying to tidy up the issue list ;)

[2018-02-09 19:19] #96 closed

[2018-02-09 23:17] maurom commented on #138
Actually, I have to thank you for scripting such a useful tool.

About this change. IMHO it would be nice to retain the Retpoline Enabled check when running s-m-c on older kernels, as some of them do have this feature flag but don't have the /sys/../vulnerabilities interface. Maybe run the /proc/cpuinfo check only if the kversion is 4.YY < X < 4.15.2.

That's just my two pennies' worth; thanks aga

[2018-02-11 08:35] kamal2222ahmed commented on #132
$ sudo ./spectre-meltdown-checker.sh --batch json 2>/dev/null | jq .
[
  {
    "NAME": "SPECTRE VARIANT 1",
    "CVE": "CVE-2017-5753",
    "VULNERABLE": true,
    "INFOS": "Kernel source needs to be patched to mitigate the vulnerability"
  },
  {
    "NAME": "SPECTRE VARIANT 2",
    "CVE": "CVE-2017-5715",
    "VULNERABLE": true,
    "INFOS": "IBRS hardware + kernel support OR kernel with retpoli

[2018-02-12 01:13] krytarowski commented on #135
`/proc/cpuinfo` is just for Linux compat so if it differs to Linux, it's a bug.
The canonical interface for NetBSD is `cpuctl`.

[2018-02-13 19:19] SrikanthSoma opened #143 "False Results?"
I ran following script on Amazon Linux 2017.09 which is using following kernel version: Linux ip-172-31-9-230 **4.9.76**-3.78.amzn1.x86_64 #1 SMP Fri Jan 12 19:51:35 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux. Script says variant 1(CVE-2017-5715) is vulnerable but amazon documentation says those kernels are fixed
sources: https://aws.amazon.com/speculative-execution-os-updates/
               https:/

[2018-02-13 20:39] speed47 commented on #143
Thanks for your report.
I've been working on a branch to enhance detection for Canonical(Ubuntu) and RedHat versions of the patches, that are different from the upstream Linux kernel patches.
Could you try it again with the redhat_canonical branch and report the results here ? ( https://raw.githubusercontent.com/speed47/spectre-meltdown-checker/redhat_canonical/spectre-meltdown-checker.sh ).

Abou

[2018-02-13 22:05] xiao1968 opened #144 "Xen 64 PV Guest"
According to Solution section of http://xenbits.xen.org/xsa/advisory-254.html,  Xen's PTI (currently stage 1) fix can be used to mitigate the meltdown issue.

Therefore,  when this tool detects current system is a 64 Bit PV guest (not Domain 0), it should change its current statement from

to

Thanks.

[2018-02-14 08:34] speed47 commented on #127
I've been working on a branch to enhance detection for Canonical(Ubuntu) and RedHat versions of the patches, that are different from the upstream Linux kernel patches.
Could you try it again with the redhat_canonical branch and report the results here ? ( https://raw.githubusercontent.com/speed47/spectre-meltdown-checker/redhat_canonical/spectre-meltdown-checker.sh ).

[2018-02-14 14:09] robleady commented on #127
That seems to be working better.
Output from a run on RHEL 6:

[code]

And output from a RHEL 7 box:

[code]

[2018-02-14 14:39] knweiss commented on #127
It works for me, too. Same output as above.

Nitpicking: The official spelling is "Red Hat" (["ALWAYS TWO WORDS AND CAPITALIZED WHEN WRITTEN OUT IN TEXT"](https://www.redhat.com/f/pdf/corp/trademark_usage.pdf)) not "RedHat".

[2018-02-14 18:03] anchev opened #145 "Acer Travelmate 2410: Vulnerable to Meltdown (Linux 4.15.2-1)"
The laptop is running openSUSE Tumbleweed, freshly updated a few minutes ago, rebooted and tested with the tool:
[code]
On another system (i7-3770) which runs openSUSE Leap 42.3 with kernel 4.4.114-42 I get all the 3 tests `NOT VULNERABLE`:

[code]

What is the reason for the discrepancy? Isn't newer kernel supposed to be better patch? And should I report anything to opensuse bugzilla?

[2018-02-14 20:15] SrikanthSoma commented on #143
Thanks for your quick response. I cloned new branch redhat_canonical and ran the script on following OS ubuntu14.04,ubuntu16.04,redhat6.9,redhat7.x

Ubuntu14.04 kernel version: 3.13.0-141-generic and Ubuntu16.04 kernel version: 4.4.0-1049-aws according to ubuntu official documentation it's patched but script says variant1 as unknown, variant2 as vulnerable, variant3 as not vulnerable

For redhat6.

[2018-02-15 08:27] speed47 commented on #143
I tried a several kernels on this branch, including the `Ubuntu 3.13.0-141.190-generic`, is this the exact version you've tested or is this a slightly different one? Could you paste the entire output of the script in verbose mode, so we can find out why you're having different results?

About the `4.4.0-1049-aws`, I assume from the name it's not an official Ubuntu kernel but an Amazon one, I could

[2018-02-15 08:33] speed47 commented on #145
This is because the first kernel you've tested is i686, not x86_64, and the PTI patch is not (yet?) available for i686 upstream (i.e. this is not an OpenSUSE issue, nobody has the patch for 32 bit kernels!)

[2018-02-15 08:39] anchev commented on #145
Thanks for the info. Do you have any idea if patches for 32 bit kernels are planned?

[2018-02-15 08:43] knweiss commented on #145
@anchev The latest patchset (and discussion): [PTI support for x86_32](https://lkml.org/lkml/2018/2/9/98)

[2018-02-15 09:58] anchev commented on #145
Thanks @knweiss. Well, there is no option for a 32-bit CPU to use a 64-bit kernel anyway, so I was just interested to know if the 32-bit kernels will be patched too. I still can't find a definite yes or no in the links (some of the things explained there are fairly complex to me) but I hope I won't have to trash this old laptop :)

[2018-02-15 11:01] knweiss commented on #145
@anchev There is this fix but it's gonna be slow. People running 32-bit kernels on 64-bit capable HW (for whatever reason) should therefore make the switch to a 64-bit kernel to get better performance. This is no option for you if your CPU is 32-bit only.

[2018-02-15 16:53] cvergils opened #146 "RHEL 5 Support"
Can we get an updated version to support RHEL 5 now that the patches are available via Red Hat?

$ uname -a
Linux hostname.local 2.6.18-426.el5 #1 SMP Wed Feb 7 11:05:23 EST 2018 x86_64 x86_64 x86_64 GNU/Linux
$ sudo ./spectre-meltdown-check.sh --batch
CVE-2017-5753: VULN (Kernel source needs to be patched to mitigate the vulnerability)
CVE-2017-5715: VULN (IBRS hardware + kernel support OR kernel

[2018-02-15 20:31] speed47 commented on #122
I don't think the neutered IME has any impact (positive or negative) on this precise range of vulnerabilities, as Spectre and Meltdown root causes are really deep inside the CPU functions.
On a side note, I've included some fixes for detection of the mitigation of variant1 for Ubuntu and Red Hat kernels. You might want to try the latest version of the script!

[2018-02-15 20:58] speed47 commented on #127
@knweiss Easy enough to fix!
@robleady thanks for your feedback.
Closing this issue, as the branch has been merged to master

[2018-02-15 20:58] #127 closed

[2018-02-15 21:39] edie-etoile opened #147 "False positives for CloudLinux"
Hello,
We ran your checker on CloudLinux Kernel: 3.10.0-714.10.2.lve1.5.12.el6h.x86_64

And is shows vulnerabilities. CloudLinux says:

[code]

See our attached output from your script.
[1802151619-vulnerable-still.txt](https://github.com/speed47/spectre-meltdown-checker/files/1729489/1802151619-vulnerable-still.txt)

[2018-02-15 22:31] SrikanthSoma commented on #143
<img width="1425" alt="ubuntu14 04" src="https://user-images.githubusercontent.com/17818558/36284547-e3ebbe3c-125c-11e8-9e30-31613b076829.png">

[2018-02-15 22:40] knweiss commented on #147
@edie-etoile (I’m not the developer) Your kernel seems to have the mitigations/fixes. However, **these** kernel patches **require** uptodate CPU microcode (with support for IBPB and IBRS) to be able to mitigate Spectre variant 2. Without these mandatory microcode features the kernel is still vulnerable.

Unfortunately, Intel recalled these microcode updates due to stability problems and is now ste

[2018-02-16 10:06] speed47 commented on #143
As shown in the script, you should install some packages for correct variant1 detection : `binutils` and  `strings`

[2018-02-16 10:08] speed47 commented on #143
For variant2, you are indeed vulnerable because your CPU microcode doesn't support IBRS yet (even if your kernel does). Intel is currently releasing updates, so depending on your CPU model, it should be in the following days/weeks

[2018-02-16 10:09] speed47 commented on #146
Released in v0.35

[2018-02-16 10:10] speed47 commented on #147
Thanks also my understanding (thanks @knweiss !)
I just released v0.35. The message for variant2 is now more clear when IBRS is supported in kernel but the CPU microcode doesn't support it

[2018-02-16 11:36] emcepe opened #148 "please add grsecurity UDEREF detection"
Hi,

grsecurity's PaX adds UDEREF for a long time now and its also a full replacement for mainline PTI - it does everything PTI does (better) and does everything UDEREF used to do in the past.

Please find my attached patch suggestion.
[spectre-meltdown-checker.sh-grsecurity-PaX.patch.zip](https://github.com/speed47/spectre-meltdown-checker/files/1731141/spectre-meltdown-checker.sh-grsecurity-PaX.

[2018-02-16 12:04] edie-etoile commented on #147
This is the CloudLinux response:

[code]

[2018-02-16 13:08] speed47 commented on #148
Hello,

Your patch would imply false positives: you're only looking for the UDEREF option, however it has only been patched recently by spender to include mitigation for Meltdown : checking for UDEREF is not enough.

Fortunately, spender included in his patch a flag exported to the /sys fs hierarchy to notify userspace than the kernel has been compiled with a recent enough version of UDEREF that p

[2018-02-16 13:13] speed47 commented on #147
Indeed, I'm almost sure I can't access the kernel image directly in memory, to detect live patching (done by tools such as KernelCare).
As I suppose CloudLinux will (or already has) release(d) a patched kernel image (on disk), you can use the checker to verify this image.

However CloudLinux support seems to talk about the variant1 detection, but in the full output you pasted above, the variant1 m

[2018-02-16 13:21] roemer2201 opened #149 "MeltdownPrime and SpectrePrime - another Test needed for this checker?"
I just found this article on reddit: [MeltdownPrime and SpectrePrime - Here we go again](https://www.reddit.com/r/sysadmin/comments/7xwvv8/meltdownprime_and_spectreprime_here_we_go_again/)

This is the initial post:

Is this another way of attack based on the same weaknesses? If so, does this checker Script need another test to cover this? (Even if I would read this article, I'm sure I would not u

[2018-02-16 13:35] FabioPedretti opened #150 "A couple output cleanups"
* When Spectre v2 is mitigated with only a single Mitigation type (and so Spectre v2 is NOT VULNERABLE), if the other type is disabled, their NO should be blue rather than red.
The red colour imply a high severity, but only one mitigation type is necessary to fix the issue, so the blue colour better fits here and doesn't require the attention needed by red colour.
* Inside Hardware check it would

[2018-02-16 15:25] edie-etoile commented on #147
Your tool isn't capable of testing CloudLinux in memory patches.

[2018-02-16 15:25] #147 closed

[2018-02-16 16:02] cvergils commented on #146
I tested that and it still doesn't appear to reflect the proper state. This is tested on a system that I believe to be in a "finished" state. The updated microcode version and kernel are installed.

[username@server_xyz spectre-meltdown]$ rpm -qa | egrep "kernel|microcode_ctl" | sort -rn | head -2
microcode_ctl-1.17-7.el5
kernel-2.6.18-426.el5
[username@server_xyz spectre-meltdown]$ sudo ./spectre

[2018-02-16 17:57] speed47 commented on #146
can you post the full output of the script, with the `-v` option ?

[2018-02-16 18:07] cvergils commented on #146
[username@server_xyz spectre-meltdown]$ sudo ./spectre-meltdown-check.sh -v
Spectre and Meltdown mitigation detection tool v0.35

Checking for vulnerabilities on current system
Kernel is Linux 2.6.18-426.el5 #1 SMP Wed Feb 7 11:05:23 EST 2018 x86_64
CPU is Intel(R) Xeon(R) CPU E5-4620 0 @ 2.20GHz
Will use vmlinux image /boot/vmlinuz-2.6.18-426.el5
Will use kconfig /boot/config-2.6.18-426.el5
Will

[2018-02-16 18:09] speed47 commented on #146
OK, it seems the way they implemented it in this kernel, if they did indeed, is somehow different.
However the 2.6.18-426.el5 kernel seems to be only available for Extended Life Cycle Support 5 Red Hat subscribers, so I can't get access to it to verify this by myself :/
Would you be able to drop me by e-mail just the vmlinuz file (I don't need the rest) ? Then I should be able to find out how to d

[2018-02-22 07:20] vulpicastor opened #151 "2018-02-20 Intel Microcode Updates"
It looks like Intel updated its microcodes again:
https://newsroom.intel.com/wp-content/uploads/sites/11/2018/02/microcode-update-guidance.pdf

Notablely, Skylake microcode revision `0xC2` is no longer disrecommended, and being re-released without modification. It can be removed from the microcode blacklist.

[2018-02-22 07:26] vulpicastor commented on #151
Mea culpa, I was accidentally using an older version of the script.

[2018-02-22 07:26] #151 closed

[2018-02-22 09:33] knweiss opened #152 "ibpb_enabled=2 on AMD EPYC (RHEL 7.4)"
Here's the spectre-meltdown-checker output of an AMD EPYC system with the latest Spectre microcode:

[code]

What's interesting about this is the fact that [Red Hat uses the following defaults on AMD CPUs](https://access.redhat.com/articles/3311301):

- pti 0 ibrs 0 ibpb 2 -> fix variant #1 #2 if the microcode update is applied
- pti 0 ibrs 2 ibpb 1 -> fix variant #1 #2 on older processors that ca

[2018-02-22 09:35] knweiss commented on #152
Some infos about the CPU:
[code]

[code]

[2018-02-22 20:33] MRDO5 opened #153 "After update all systems in virtual host my system show that not all its ok"
It's my testing environment !

[root@masterdns ~]#  spectre-meltdown-checker/spectre-meltdown-checker.sh
Spectre and Meltdown mitigation detection tool v0.35

Checking for vulnerabilities on current system
Kernel is Linux 3.10.0-693.17.1.el7.x86_64 #1 SMP Thu Jan 25 20:13:58 UTC 2018 x86_64
CPU is Intel(R) Core(TM) i5-7600K CPU @ 3.80GHz

Hardware check
* Hardware support (CPU microcode) for mitig

[2018-02-25 15:51] knweiss commented on #153
(Well, your current microcode revision is a little bit strange.)

Your kernel is patched. However, you also need to **upgrade your CPU's microcode to revision 0x84** (e.g. by updating your BIOS) as it is a requirement for the kernel patch. See Intel's latest [Microcode Guidance pdf (2018-02-24)](https://newsroom.intel.com/wp-content/uploads/sites/11/2018/02/microcode-update-guidance.pdf) for detai

[2018-02-27 10:07] kamal2222ahmed commented on #132
On yet another CentOS Linux release 7.4.1708 (Core) host, i was able to reproduce the error:
here is the complete stdout:

# bash /usr/local/bin/spectre-meltdown-checker.sh | jq .
-bash: jq: command not found
[root@ip-10-103-159-173 ~]# export PATH=/usr/local/bin:$PATH
[root@ip-10-103-159-173 ~]# bash /usr/local/bin/spectre-meltdown-checker.sh | jq .
parse error: Invalid numeric literal at line 1,

[2018-02-27 10:24] speed47 commented on #132
You forgot the `--batch json` parameter it seems, can you retry with it?

[2018-02-27 10:26] speed47 commented on #148
Closing this issue as I consider it resolved. Please reopen if needed.

[2018-02-27 10:26] #148 closed

[2018-02-27 10:50] speed47 commented on #152
Thanks for the output dump, I implemented the AMD stuff blindly from AMD's documentation and kernel sources, but it seems it works as expected.
About SMT, that's and interesting check to add. Grepping for `ht` from `/proc/cpuinfo` won't be enough as it just shows that the CPU does support HT, regardless of the fact that it's enabled or not. But checking for physical id / siblings & co should work.

[2018-02-27 11:44] knweiss commented on #152
Regarding HT: Yes, `siblings != cpu cores` in `/proc/cpuinfo` should do the trick.

Except for the three different states I think it would be important to have a nice, human-readable explanation, too. Many people seem to struggle with the current brief (but correct!) summaries.

What about adding URL references to official and more verbose documentation?

[2018-02-27 15:10] vinc17fr opened #155 "Download instructions are insecure: use of http URL's"
The new download instructions are:
[code]
but both curl and wget will connect to meltdown.ovh on port 80 (http), which is not secure. A https URL should be provided.

[2018-02-27 15:41] kamal2222ahmed commented on #132
yes, i did, and it worked, also here is a snippet i used in the recipe/default .rb to get it working with chef:
execute 'spectre-meltdown-checker.sh' do
  command "/usr/local/bin/spectre-meltdown-checker.sh --batch json 2>/dev/null | jq ."
  live_stream true
  action : run
end
Its just the colors are not being rendered correctly in the chef run output:

x.x.x.x.173   * execute[spectre-meltdown-che

[2018-02-27 17:05] sdowdy opened #156 "Meltdown UNKNOWN status due to dmesg cyclic reclamation on older kernels."
Your script reports UNKNOWN for Meltdown on older kernels which only appear to report a single line in the kernel ring buffer and that line is reclaimed by cyclic buffer overwrite.

    CVE-2017-5754 [rogue data cache load] aka 'Meltdown' aka 'Variant 3'
    * Kernel supports Page Table Isolation (PTI):  YES
    * PTI enabled and active:  UNKNOWN  (dmesg truncated, please reboot and relaunch this

[2018-03-03 20:59] nomadmzl opened #157 "False negative?"
I run the script and I get:

![script](https://user-images.githubusercontent.com/27929953/36939166-a8f07192-1efa-11e8-81b5-25eb2c476091.png)

CVE-2017-5753, CVE-2017-5715, CVE-2017-5754  seems to be fixed here.

But when I run `cat /proc/cpuinfo`, I see Spectre v1 and v2 in the bugs section:

![cpu info](https://user-images.githubusercontent.com/27929953/36939173-bfa8a440-1efa-11e8-9034-14feaae5d3

[2018-03-05 22:27] Johnlennon2nd opened #158 "False positive on RHEL 6.9"
On a multitude of systems I get results that conflict with the RH own spectre_meltdown.sh script results. I see the same on physical, VMs on VMware, VMs on Cloud (XEN), etc when the VM/System is running RHEL 6.9 or CentOS 6.9.

Spectre and Meltdown mitigation detection tool v0.35

Checking for vulnerabilities on current system
Kernel is Linux 2.6.32-696.20.1.el6.x86_64 #1 SMP Fri Jan 12 15:07:59 E

[2018-03-06 21:45] N3WWN commented on #146
@speed47 Are you still in need of a 2.6.18-426.el5 kernel?

[2018-03-06 22:51] speed47 commented on #146
Yes ! If you have it, that would definitely help

Le 6 mars 2018 10:45:33 PM Richard Alloway <notifications@github.com> a écrit :

[2018-03-07 13:41] N3WWN commented on #146
@speed47 I will get the vmlinuz file(s) over to you ASAP.  Sorry if this is a rudimentary question, but how do I get your email address?  I can't seem to find it in this repo.

[2018-03-07 18:33] speed47 commented on #158
The version you seem to be using (v0.35) supports Red Hat / CentOS 6.x kernels (the mitigation is specific to them, it's differnt from upstream).

The kernel you are using is part of my testsuite and on v0.35, I get:
[code]

Can you double-check you're indeed running the latest release version ?
If this is the case, could you re-run it with the `-v` parameter and post the results here ?

[2018-03-07 18:37] speed47 commented on #157
They're all telling the truth, but from your message I understand that you're a bit confused by what you're seeing in `cpuinfo` on the "bugs" line. This line only means that your CPU model is vulnerable to these bugs. It doesn't say wether there is a mitigation active or not, this information, however, is available under the `/sys` hierarchy as you've correctly seen. The checker script does use th

[2018-03-07 19:10] speed47 commented on #153
@knweiss's answer is correct. The weird ucode value (0xffffffff) is probably what's exposed to your OS by the hypervisor you're using to avoid disclosing the real one. In any case the checks indicate that the ucode version you have doesn't have the speculative execution control mechanisms, hence preventing the mitigation of variant 2.
Closing this issue, as this is not an issue with the script, fe

[2018-03-07 19:10] #153 closed

[2018-03-07 21:16] #158 closed

[2018-03-09 00:24] mcpondy commented on #146
@speed47 Hi, please let me know if I can help out with any files/logs etc as I would like to use this with RHEL 5 extended support.

[2018-03-09 19:37] anthonypants opened #159 "self-signed certificate on meltdown.ovh domain"
I appreciate that your instructions tell users not to blindly pipe scripts from the internet into an interpreter, but asking users to download scripts over http isn't much better.

[code]

Here are some instructions for setting up Let's Encrypt with nginx: https://www.nginx.com/blog/using-free-ssltls-certificates-from-lets-encrypt-with-nginx/

[2018-03-10 13:58] speed47 commented on #82
You can try with the latest master branch, I added an extract method that seems to be used by your system : the kernel image blob actually contains other stuff and the real kernel image can be found uncompressed in it !

[2018-03-10 14:02] speed47 commented on #122
Closing to tidy up the issues list a bit, feel free to reopen if needed!

[2018-03-10 14:02] #122 closed

[2018-03-10 14:03] speed47 commented on #128
Closing to tidy up the issues list a bit, feel free to reopen if needed!

[2018-03-10 14:03] #128 closed

[2018-03-10 14:03] speed47 commented on #145
Closing to tidy up the issues list a bit, feel free to reopen if needed!

[2018-03-10 14:03] #145 closed

[2018-03-10 14:14] speed47 commented on #159
Oh well, I admit I was a bit lazy on this one. Just added it to my SSL handling scripts.
Done. :)

[2018-03-10 14:14] #159 closed

[2018-03-10 14:20] speed47 commented on #155
Heheh, fair enough. done!

[2018-03-10 14:20] #155 closed

[2018-03-10 14:23] speed47 commented on #132
Good to know it works!
It's normal you don't see any colors however, in batch mode the colors are omitted so that the output can be properly parsed by a script (which is the point of JSON output).
If you don't need it to be parsed but just to be "short", I suggest using `/usr/local/bin/spectre-meltdown-checker.sh --batch` without the jq part, you'll simply get one line per vulnerability (with no c

[2018-03-10 14:25] speed47 commented on #149
We'll see what the future brings about those kind of attacks!

Clearly enough meltdown and spectre are just the first vulnerabilities of their kind, and we know there might be more coming. When this is the case, and if there are any possible mitigations in the kernel, I might add said mitigations detection to the script indeed.

Closing this to keep the issues list tidy, thanks again for the point

[2018-03-10 14:25] #149 closed

[2018-03-10 14:41] jeanbruder commented on #82
Hi @speed47, please find below the output of the new release :
`Spectre and Meltdown mitigation detection tool v0.35

Checking for vulnerabilities on current system
Kernel is Linux 3.10.105-0-pine64-longsleep #3 SMP PREEMPT Sat Mar 11 16:05:53 CET 2017 aarch64
CPU is ARM v8 model 0xd03
We're missing some kernel info (see -v), accuracy might be reduced

Hardware check
* Hardware support (CPU microc

[2018-03-10 15:06] speed47 commented on #82
Thanks, as your system is not that common, you're finding me some bugs ;)

fixed

fixed

I've also re-added the specific kernel image path pine64 is using, I think it was squeezed out by some previous merge.

Pushed those to the master branch. If you run it again, you shouldn't have those errors, and hopefully the script will now be able to dig into your kernel image for variant 1 mitigations (it

[2018-03-10 17:07] anchev commented on #145
Thanks!

[2018-03-12 09:33] knweiss opened #160 "RHEL/CentOS 7.4 kernel-3.10.0-693.21.1.el7.x86_64 changes"
FWIW: Red Hat introduced **retpoline support** in the latest RHEL 7.4 kernel  3.10.0-693.21.1.el7.x86_64 update:
[code]
(Notice the `UNKNOWN` Status in "Kernel compiled with a retpoline-aware compiler:" above!)

They also backported retpoline support to gcc-4.8.5 (which was also updated):
[code]

There are also changes in some of the `/sys` files:

- The `vulnerabilities/` directory does exist now

[2018-03-12 12:37] vinc17fr commented on #155
Not that you should also update the instructions at the beginning of the spectre-meltdown-checker.sh script too.

[2018-03-12 23:50] mike-aungsan opened #161 "command not found"
Distributor ID: Ubuntu
Description:    Ubuntu 14.04.5 LTS
Release:        14.04
Codename:       trusty

$sudo bash spectre-meltdown-checker.sh
spectre-meltdown-checker.sh: line 13: $'\r': command not found
: invalid signal specificationine 14: trap: EXIT
: invalid signal specificationine 15: trap: INT
spectre-meltdown-checker.sh: line 16: syntax error near unexpected token `$'\r''
'pectre-meltdown

[2018-03-13 16:09] simonbcn opened #162 "discrepancy between your running kernel and the image"
[code]
I have several kernel images installed in my system but this script only checks `/boot/vmlinuz-linux`.
If this value cannot be obtained by the script, there should be an option to indicate it.

[2018-03-13 20:55] speed47 commented on #162
Such as the `--kernel` option?

[2018-03-13 20:56] speed47 commented on #161
How did you download the script? The copy you have seems to be damaged/invalid.
Can you try getting it with `wget https://meltdown.ovh -O spectre-meltdown-checker.sh` and check if you still have the error?

[2018-03-14 08:46] #162 closed

[2018-03-14 13:24] nomadmzl commented on #157
Bright clear, thank you!

[2018-03-14 13:24] #157 closed

[2018-03-15 18:45] rayjet opened #163 "PV detection does not account for EL6 in Xen PVHVM?"
I am running an EL6 guest (kernel-2.6.32-696.23.1.el6) on XenServer 7.2 as PVHVM.
It seems your script just greps for 'Booting paravirtualized kernel' to detect PV..
However, this guest has that in dmesg, but it's definitely in PVHVM mode.
Suggested patch:
[code]

[2018-03-16 02:42] Dmole opened #164 "XU4"
Report for the [XU4](http://www.hardkernel.com/main/products/prdt_info.php?g_code=G143452239825);
[code]

The "Couldn't find kernel image or tools missing to execute the checks" note seems to be wrong...

[2018-03-16 03:54] Dmole commented on #164
The man pages for [/dev/cpu/0/msr](http://man7.org/linux/man-pages/man4/msr.4.html) and [/dev/cpu/0/cpuid](http://man7.org/linux/man-pages/man4/cpuid.4.html) say they are x86 spesific; probably should not be checked if not running on an x86.

[2018-03-16 06:38] wcwxyz opened #165 "broken microcode not detected"
On my box, the microcode has version 0xb000025:
[code]
But the script is doing string comparing with predefined `0x0b000025`, which gives me:

[code]

[2018-03-16 06:52] k-nakayama-pg commented on #160
I have the same problem.

[2018-03-16 07:15] wcwxyz commented on #165
I looked up linux kernel code regarding broken microcode version. It uses `microcode_version <= 0xb000025` to indicate broken microcode. You might want to change to that to align with upstream.

[2018-03-16 13:35] speed47 commented on #165
Thanks for the report.
Can you try the `ucode_decimal` branch and confirm that detection works correctly? I'm now doing a proper arithmetic comparison to avoid any other problems with string comparison of ucode versions.

[2018-03-16 17:22] speed47 commented on #164
Can you run it again in very verbose mode ? (`-v -v`) You should have more details about the image decompression, for some reason it seems the script can't read/understand your kernel image.

About msr/cpuid, indeed, I'll add a check for x86. This won't change the script result, but the output will be nicer to the eyes of non-x86 owners ;)

[2018-03-16 17:23] speed47 commented on #132
Closing this issue. Feel free to reopen if needed.

[2018-03-16 17:23] #132 closed

[2018-03-16 17:25] speed47 commented on #155
fixed in 053f161

[2018-03-16 17:29] Dmole commented on #164
Thanks;
[code]

[2018-03-16 17:31] speed47 commented on #163
Wow, autoclose from git message...
@rayjet : thanks for the patch, included it in 12ea49f, can you confirm it works as expected for your case?

[2018-03-16 17:35] speed47 commented on #164
OK so clearly the script couldn't extract your kernel image properly.
Do you happen to know which compression format it uses ? Does `file /boot/vmlinuz-4.14.26-119` indicate it ? If not, would you be able to upload it somewhere so I can have a look ?
The script supports gzip, xz, bzip2, lzma, lzop and lz4, maybe your compression format is yet different

[2018-03-16 17:39] Dmole commented on #164
[code]

[2018-03-16 17:43] speed47 commented on #164
Hmm. Did you compile it yourself or is it readily available somewhere in some well-known distro I can fetch?

[2018-03-16 17:47] Dmole commented on #164
I compiled my own Kernel in the past for this board, but i'm using stock [src](https://github.com/hardkernel/linux/tree/odroidxu4-4.14.y) [bin](https://dn.odroid.com/5422/ODROID-XU3/Ubuntu/ubuntu-16.04.3-4.14-minimal-odroid-xu4-20171213.img.xz) for this test.

[2018-03-17 05:06] rayjet commented on #163
@speed47 Cool, yes it works. Should the version be incremented?

[2018-03-17 12:58] speed47 commented on #164
Thanks, the kernel is compressed by an already supported algorithm (gzip in this case) but the resulting decompressed file is not the kernel image directly. The image is at a non-zero offset. I added code to support this in the `offset` branch. Could you try it ?

[2018-03-17 13:06] speed47 commented on #163
I have other feature/fixes in the pipeline.
I will release a version within the next few days most probably, with the proper git tag (vs pulling directly from master)

[2018-03-17 13:06] #163 closed

[2018-03-17 13:08] Dmole commented on #164
[code]

...

[2018-03-17 13:13] #164 closed

[2018-03-17 15:19] speed47 commented on #164
Interesting, there are actually 2 ELF images in the vmlinuz, and the first one is half-parsed by `readelf` but doesn't make it error, so the image was considered valid.
I've implemented a more robust check for extracted vmlinux validity. I've also implemented cross-architecture support so that an ARM kernel can be tested from a non-ARM system (such as mine).

The branch has been updated:
[code]

[2018-03-18 05:01] janvitos commented on #160
Same thing here. Any updates on this?

[2018-03-18 15:52] #143 closed

[2018-03-19 02:31] wcwxyz commented on #165
`ucode_decimal` branch works for me. Thanks for fixing it.

[2018-03-19 08:09] Dmole opened #166 "kpti"
Please add checks for kpti or at least an output comment.

https://git.kernel.org/pub/scm/linux/kernel/git/arm64/linux.git/log/?h=kpti

[2018-03-19 11:09] #165 closed

[2018-03-19 11:12] speed47 commented on #166
KPTI is the mitigation for Variant 3 / Meltdown, and check for this mitigation is present since day 1 in this script. Could you elaborate on what you think is missing ?

[2018-03-19 11:18] Dmole commented on #166
The link has v1 and v2 commits, I'm not certain but i think it's not just a v3 patch.

[2018-03-19 11:24] speed47 commented on #166
Ah yes by "kpti" you just meant the "kpti" arm64 branch which seems to include fixes for Spectre as you pointed out.
Do you know if those patches already made it in any arm64 distro ? So I can check the source (thru your link) and also the resulting binary, because that's what my script will have to parse in the end.

[2018-03-19 11:41] Dmole commented on #166
The patches should be in this 32bit arm https://github.com/speed47/spectre-meltdown-checker/issues/164

I don't think they are on my 64bit arm sbc....maybe on the pixel 2 though...

[2018-03-23 23:14] anchev opened #168 "Exploit-DB 43427 performs successful exploit on a 'NOT VULNERABLE' system?"
Today I tested [this Spectre PoC](https://www.exploit-db.com/exploits/43427/) on my system and the exploit worked.

Meanwhile this tool shows me:
[code]
May I ask for some clarification on this matter please?

[2018-03-24 12:34] speed47 commented on #168
Closing as duplicate of #133, please read it, it'll answer your questions. Please repoen if this is not the case!

[2018-03-24 12:34] #168 closed

[2018-03-24 12:34] speed47 commented on #161
Assuming that the issue couldn't be reproduced. Please reopen if this is the case.

[2018-03-24 12:34] #161 closed

[2018-03-24 12:38] speed47 commented on #135
FreeBSD has started to implement PTI and IBRS apparently.

I might start to work on implementing support soon, as well as `cpuctl` MSR/CPUID checks, as I happen to have a FreeBSD system at home :)

[2018-03-24 14:03] anchev commented on #168
Thanks!

[2018-03-24 20:15] speed47 commented on #135
I've pushed a new branch: `bsd`, it works well under FreeBSD, and I expect it to work flawlessly under NetBSD and DragonFly (they both support linprocfs and cpuctl).

[2018-03-24 23:03] speed47 commented on #146
That's really strange, neither I or the official `extract-vmlinux` script can successfully extract a parseable ELF image out from the Red Hat 5 vmlinuz files. Even `binwalk` doesn't seem to find anything that makes sense appart from a compressed blob that is not an ELF file. But it still contains the kernel in a way because all the strings can be found in it.
This is sufficient to detect the mitig

[2018-03-25 12:13] anchev commented on #133
That is interesting info. Thanks for sharing. The current tool shows me `NOT VULNERABLE` for all 3 variants. I am also using Chromium with:

chrome://flags/#enable-site-per-process = enabled
chrome://flags/#shared-array-buffer = disabled

Does it mean it is now safe to run JavaScript in the web browser? Any PoC tools to test this thoroughly?

Another question: is there any plain/possibility for in

[2018-03-26 06:53] f-s commented on #168
@anchev the tool **only** checks if mitigations are available on the system:

...

Unless you study the disclaimer, the above output might cloud your sense of security. Because, unless you compile the code of executables afresh and correctly, the SV1 exploits still work nicely, contrary to "STATUS: NOT VULNERABLE". If you/others have not done it, this message (mitigation in place) boils down to: "

[2018-03-26 09:12] knweiss commented on #168
@f-s You may want to take a look at this proposal by Chandler Carruth/Google for the LLVM project:

[RFC: Speculative Load Hardening (a Spectre variant #1 mitigation)](http://lists.llvm.org/pipermail/llvm-dev/2018-March/122085.html)

This is a new proposal that comes close to (automatically) fixing occurrences of Spectre V1 problems (by recompilation) - **at a high performance cost however**.

[2018-03-26 09:34] anchev commented on #168
@f-s which executables? I am using openSUSE Leap and I get the binaries from the official repos. I have read the disclaimer of course, that's why I asked additional questions in the linked issue which @speed47 shared.

[2018-03-26 19:34] N3WWN commented on #146
Here is the output from the offset branch executed on CentOS 5, 6 and 7 (both 32-bit and 64-bit systems):

<img width="898" alt="spectre-meltdown-checker_offset-centos5-32bit-180326" src="https://user-images.githubusercontent.com/19431804/37927401-f727bdba-3107-11e8-9802-b5af25260d6c.png">

<img width="741" alt="spectre-meltdown-checker_offset-centos5-64bit-180326" src="https://user-images.githubu

[2018-03-26 21:17] speed47 commented on #166
I should have a first version for arm64 detection of meltdown and spectrev2 mitigation by tomorrow.
I don't have any ARM system myself, so I can only try on offline kernel images thru cross-tools, do you have an ARM systrm you'll be ready to test it on ?

[2018-03-27 07:09] speed47 commented on #146
Would you be able to run the following command under your 6 systems?
`find /sys/kernel/debug/x86/ -name "*_support" -print -o -name "*_enabled" -print`

[2018-03-27 16:23] N3WWN commented on #146
@speed47 Regarding the ucode, I have not updated the ucode on these VMs (some don't even have the microcode_ctl package installed).

Would you like me to install the microcode_ctl package on all systems, re-run the checker, then install the newest microcode directly from Intel ( https://downloadcenter.intel.com/download/27591/Linux-Processor-Microcode-Data-File?product=873 ) and re-run the checker

[2018-03-27 16:33] physkets opened #169 "BranchScope vulnerability detection"
There seems to be a new speculative execution vulerability on the block, called BranchScope. The researchers have only tested it on Intel processors, but can checks for this also be added?

https://arstechnica.com/gadgets/2018/03/its-not-just-spectre-researchers-reveal-more-branch-prediction-attacks/

[2018-03-27 18:48] speed47 commented on #146
@N3WWN Regarding the ucode, don't bother, if you're in VMs (I didn't notice "vagrant" in your screenshots at first), some properties of the CPU are not passed through the hypervisor, depending on the hypervisor and its configuration, and the ucode version is sometimes one of those, so it's not a bug after all.

You're right, the script attempts to mount debugfs if it's not mounted already (and uno

[2018-03-27 18:51] speed47 commented on #160
@kneiss thanks for the data. I'm finalizing support for RHEL 5 to get version 0.36 out, then I'll implement the new things that appeared in RHEL 7.
@k-nakayama-pg @janvitos what problem are your referring to ? The fact that `retpoline-aware compiled` is `UNKNOWN`, or are your referring to something else?

[2018-03-27 18:55] speed47 commented on #166
Can you test the `arm` branch?

[2018-03-27 18:59] speed47 commented on #169
It is way too soon to be able to implement anything regarding BranchScope, but I'll watch closely news about this and we'll see what the future brings.
If/when mitigations for this vuln do appear in the Linux kernel, I'll implement detection of the presence of toise mitigations indeed!

[2018-03-27 19:27] speed47 commented on #146
Perfect ! I'm releasing v0.36 then ;)

[2018-03-28 09:48] Dmole commented on #166
[code]

[2018-03-28 14:19] xiao1968 commented on #144
Hi,

Sounds like the fix to this issue is incomplete.  In 'check_variant3_linux', if "sys_interface_available" is NOT set to 1 at line 2116, then msg is set to "/sys vulnerability interface use forced, but it's not available!" at line 2228.  This causes the script sets msg to "Xen PV DomUs are vulnerable and need to be run in HVM, PVHVM or PVH mode" at line 2294.

I believe as part of fix, the mes

[2018-03-28 19:37] speed47 commented on #166
The variant2 and variant3 mitigation detection for arm64 is based off the arm64 kernel branch you've linked in the first post.
Your armv7 is not arm64 so I'm not sure there exists any mitigation for it actually, for now at least. Do you have any information that says otherwise? (as you said you arm is patched)
I had a look at Ubuntu's mainline compiled kernels, they do have an arm non-64 build, an

[2018-03-28 20:09] Dmole commented on #166
I'll look into it, but yes that test is on an unlatched kernel.

[2018-03-28 20:31] speed47 commented on #166
On a patched ARM64 kernel (I'm cross-testing it offline from an x86 machines), the current `arm` branch says:

[2018-03-29 01:51] xiao1968 opened #170 "Xen PV Guest 2"
Hi,

Sounds like the fix for [issue #144 ](https://github.com/speed47/spectre-meltdown-checker/issues/144) incomplete. In function check_variant3_linux(), if "sys_interface_available" is NOT set to 1 at line 2116, then msg is set to "/sys vulnerability interface use forced, but it's not available!" at line 2228. This causes the script sets msg to "Xen PV DomUs are vulnerable and need to be run in

[2018-03-29 07:02] speed47 commented on #170
Thanks for your report.

To be sure I understand correctly: for the script to set $msg to `/sys vulnerability interface use forced, but it's not available!`, you have to force it to use sysfs (with the `--sysfs-only` option) on a kernel that doesn't have the sysfs cpu vulnerability hierarchy.  Is that the case?

Also, are you actually running under Xen, or not at all?

About the msg line 2294, you

[2018-03-29 09:08] f-s commented on #168
@anchev executables which have not been recompiled with SV1 compiler mitigations active? I have no idea what openSUSE is doing. I would use LSF-like distributions to be sure, maybe Gentoo, too ;-)

[2018-03-29 09:37] anchev commented on #168
@f-s I have no idea what exactly openSUSE do either but the fact is they provided patches quite quickly after the announcements. It is a well maintained distro.

In a sense perhaps you are right - LFS would be probably the cleanest and self-reliant way but I don't feel I have the knowledge to jump that deep, so I still stay with openSUSE.

In case you are interested, here is a bug report with lots

[2018-03-29 11:36] f-s commented on #168
@anchev every program which might use speculative execution in a security context and has not been fixed/checked/tested/debugged with regard to SV1 by the developers yet, yes I want to recompile it with compiler mitigations in place.

[2018-03-29 11:51] anchev commented on #168
Thanks for this info @f-s.

Do you think it would be reasonable to file a bug report to openSUSE requesting such recompilation (they will be releasing new version of the distro soon)? Can you suggest a link with more info about such compilation or a proper way to file such a bug report? Then I can file it to them. Hopefully for the good of everyone.

Speaking of all this: how should one compile th

[2018-03-29 14:31] xiao1968 commented on #170
Thanks for quick response!

I have two Xen PV 64 guests, one is RedHat 5.9 (Linux svsvm91 2.6.32-696.23.1.el6.x86_64 #1 SMP Tue Mar 13 22:44:18 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux) with RedHat KPTI patch; another is CentOS with updated Linux kernel 4.9 (Linux cdomsvm90 4.9.81-1.sp1.el6.x86_64 #1 SMP Tue Feb 13 12:17:20 MST 2018 x86_64 x86_64 x86_64 GNU/Linux) with KPTI path.

The content of /s

[2018-03-31 11:44] speed47 commented on #170
Thanks, updated the master branch, can you test it works as expected for you?

[2018-04-01 12:58] speed47 commented on #146
Assuming that we can close this. Feel free to reopen if needed!

[2018-04-01 12:58] #146 closed

[2018-04-01 13:00] speed47 commented on #82
Assuming we can close this. Feel free to reopen if needed!

[2018-04-01 13:00] #82 closed

[2018-04-01 15:51] speed47 commented on #166
merged to master

[2018-04-02 08:17] corradoventu opened #171 "IBRS enabled for Kernel space: UNKNOWN"
On my laptop
[code]
I'm using your tool (thanks a lot) and I see:

[code]
I have intel-microcode installed

[code]
I wonder about this 'UNKNOWN' ... i'ts a problem?
thanks again for your tool

[2018-04-02 12:53] xiao1968 commented on #170
I verified the updated script on both systems I mentioned previously and it works as expected.

Thanks for the quick action.

[2018-04-02 14:04] speed47 commented on #170
Thanks for the feedback, I'm closing this then. Please feel free to reopen if needed!

[2018-04-02 14:04] #170 closed

[2018-04-02 20:03] speed47 commented on #171
Thanks for you report.
It's not a problem, actually, but very recent "vanilla" kernels have changed some things regarding IBRS and IBPB. I've pushed a new test version, can you try it ? It's on the `newibpb` branch ( https://raw.githubusercontent.com/speed47/spectre-meltdown-checker/newibpb/spectre-meltdown-checker.sh )

[2018-04-02 20:05] speed47 commented on #160
I've pushed a new test branch `newibpb` taking into account the `retp_enabled` tunable of Red Hat, and also latest changes in vanilla kernels. Can you try it ? ( https://raw.githubusercontent.com/speed47/spectre-meltdown-checker/newibpb/spectre-meltdown-checker.sh )

[2018-04-03 07:17] speed47 commented on #156
Thanks for your report.

I'm trying to make the script completely distro and kernel-agnostic, i.e. it must report correct results for any kernel, even recompiled, without trying to take a hint with the kernel name, version, or distro it's running on.

For meltdown, it's the least complicated of the 3 mitigations: the kernel option is either `CONFIG_PAGE_TABLE_ISOLATION`, or `CONFIG_KAISER` (for so

[2018-04-03 08:37] speed47 commented on #171
Thanks, the output is correct, except a little detail: in that case you have a part of IBRS that is enabled, only in the kernel firmware. This wasn't properly detected, just pushed an update to the branch to detect that properly.
You should no longer have this:

[2018-04-03 10:29] speed47 commented on #129
I want to be distro-agnostic and never rely on any version number of the kernel or anything else: the script digs in the kernel binary if needed to find answers, and never relies on any other clue than given by the kernel itself ;)

I think I finally found a way to explain "what to do" in case of mitigations, in a distro-agnostic way. In most cases, if you're using a distro kernel, it boils down t

[2018-04-03 10:45] speed47 commented on #150
Thanks for your report.

For those 3 remarks, I've changed the red color to the yellow color for all sub-tests that are not the conclusion of the mitigation itself (the `STATUS:` line), as these tests are just a prerequisite to be able to draw the `STATUS:` conclusion (this one will still be red if it's a `VULNERABLE`)

This can't be done, as the "hardware support" part does some tests that will c

[2018-04-03 10:55] speed47 commented on #152
I've pushed a new `explain` branch in an attempt to answer the question "okay, and what should I do?" in front of a `VULNERABLE` status on a vulnerability. Hopefully it'll help! (not yet merged to master)

[2018-04-03 13:44] corradoventu commented on #171
corrado@corrado-HP-p4-bb-0319:~$ sudo ./vuoto.sh
[sudo] password for corrado:
Spectre and Meltdown mitigation detection tool v0.36+

Checking for vulnerabilities on current system
Kernel is Linux 4.15.0-13-generic #14-Ubuntu SMP Sat Mar 17 13:44:27 UTC 2018 x86_64
CPU is Intel(R) Core(TM) i5-4210U CPU @ 1.70GHz

Hardware check
* Hardware support (CPU microcode) for mitigation techniques
  * Indire

[2018-04-03 13:57] speed47 commented on #171
Good, now the output is 100% correct. Thanks!

[2018-04-03 15:07] corradoventu commented on #171
thanks to you!

[2018-04-03 15:07] #171 closed

[2018-04-05 19:48] SLAYEROWNER opened #172 "is it a false positive?"
The "spectre-meltdown-chacker" shows that is not vulnerable:

[code]

Although, if I run the [SpectrePoC](https://github.com/crozone/SpectrePoC) the vulnerability is successfully exploited:

[code]

[2018-04-06 10:42] knweiss commented on #160
IMHO the (minor) issue here is that the check is called `Kernel compiled with a retpoline-aware compiler` but it only works if the kernel is compiled with a retpoline-aware compiler **and** retpoline is actually enabled:
[code]
The name of the check IMHO suggests that it should work independent of the retpoline activation status.

However the old version 0.36 even showed  "UNKNOWN" if retpoline is

[2018-04-06 18:07] knweiss commented on #172
Please take a look at #133.

[2018-04-06 18:25] mattvw commented on #152
@speed47: Would this also apply to cases where you are using ibpb_enabled=1 on AMD EPYC systems to help cushion the performance impacts (this is on a RHEL 7.4 system with kernel 3.10.0-693.17.1.el7.x86_64). This is what AMD recommends and is what Red Hat says AMD recommends too (https://access.redhat.com/solutions/3335501), although it does limit the protection somewhat.

Currently, this is the ou

[2018-04-06 18:43] knweiss commented on #152
@mattvw First of all two comments:

1. Please update to kernel 3.10.0-693.**21**.1.el7.x86_64 which has retpoline support. See #160.
2. Please notice that the Red Hat defaults for AMD CPUs that I've mentioned in the original issue text  [have changed](https://access.redhat.com/articles/3311301) with the new kernel:
   - pti=0 ibrs=0 ibpb=1 retp=1 -> fix variant 1 and 2 if the microcode update is a

[2018-04-06 19:01] mattvw commented on #152
@knweiss: Yes, I am aware that there is a new kernel that introduced retpoline support. I'm actually running that on quite a few other systems I manage as well. However, I also manage systems that will be sticking with the 3.10.0-693.17.1.el7.x86_64 for the foreseeable future due to certain requirements/reasons (decision made by higher ups in organization), which is why I am asking about this (for

[2018-04-06 20:11] SLAYEROWNER commented on #172
Thanks, now I got it.

[2018-04-06 20:11] #172 closed

[2018-04-07 16:09] speed47 commented on #152
@mattvw @knweiss Can you try the branch `spectre2` ? I've made a lot of changes around how the status of this vulnerability is decided, and refined the "how to fix" messages, depending on the observed CPU (Intel / AMD / ARM / other), including Skylake vs non-Skylake. It also supports the Red Hat specifics (retp_enabled, etc.). It'll also contradict by design what some kernels have to say on their

[2018-04-07 16:13] speed47 commented on #160
@knweiss This is actually why it says "unknown" and not "no" ;) because on somehow recent kernels, detecting a retpoline-aware compiler is almost impossible without having this kernel booted and retpoline activated, as when this is the case, the kernel reports whether it was compiled with retpoline-aware compiler or not, and doesn't if retpoline is not enabled.
On the first versions of the retpoli

[2018-04-08 11:49] lesinigo opened #173 "Xen Dom0 detected as DomU when running inside LXC"
When running the checker in an LXC container which is itself running inside a Xen Dom0, the script incorrectly thinks it is running inside a DomU.

The operating system is Ubuntu 16.04 LTS, fully updated, with its stock `xen-hypervisor-4.6-amd64` and its `linux-image-generic-hwe-16.04`; current versions of the two are Xen 4.6.5-0ubuntu1.4 and Linux 4.13.0-38.43~16.04.1, checker version is reported

[2018-04-08 14:31] speed47 commented on #152
@knweiss I've implemented check for SMT when ibpb_enabled=2 in the `spectre2` branch.
I don't have an AMD EPYC to test it against, so if you still have a system with ibpb_enabled=2 and could test it on it, that would be great ;)
I also detect AMD Zen family processors (Ryzen and EPYC) to skip the IBRS explanation on them, as they won't have it (not needed), where older AMD processors should have i

[2018-04-08 16:52] bnjbvr opened #175 "Suggestion: make it overly obvious that it only checks for *kernel* vulnerabilities"
Hi there! Good job on making this tool, I found it quite useful :+1:
Since the Spectre variants 1 and 2 may also be vulnerable in browsers (disclaimer, I work on Spidermonkey, the JavaScript engine within Firefox), and other software more generally, how would you feel about making it very obvious that the checks this tool runs only verify that the kernel is protected? Otherwise, it might provide a

[2018-04-08 17:09] speed47 commented on #175
Thanks for your report. I don't want people thinking they're secure when they're not, and that's exactly why on every run of the script, the last line always says:

The disclaimer explains several things, and among those:

The disclaimer is also present in the `README.md`. Not sure I can do much more, as, as you probably know as you're working for a widely used browser: whatever you do, people don

[2018-04-09 08:08] lesinigo commented on #173
There is the `/proc/xen` directory inside the container but it is empty.

If it can help, I checked what [facter 3.11.0](https://github.com/puppetlabs/facter/tree/3.11.0) thinks about the same situation, and afaik it is also not able to differentiate between dom0 and domU when running inside a container. Here is its output from LXC-inside-dom0:
[code]
(note that it is not actually _wrong_, it's tr

[2018-04-09 11:28] knweiss commented on #160
@speed47 Yes, I think this would avoid the confusion. Maybe you could still print it in verbose mode.

Alternative: Change "UNKNOWN" into "UNKNOWN (either NO or INACTIVE)".

[2018-04-09 12:47] knweiss commented on #152
@speed47 On EPYC I noticed this with code in the `spectre2` branch:
[code]
What about skipping this check on non-ARM?
[code]

Full output:
[code]

I try to change the settings to test `ibpb_enabled` but it is not possible anymore:

[code]
Notice that the 2nd echo changed `ibpb_enabled` to 0!
[code]
The 3rd "How to fix" regarding the retpoline-aware compiler is wrong (as it is based on UNKNOWN).

C

[2018-04-09 13:34] knweiss commented on #160
(Does the file `/sys/kernel/debug/x86/retp_enabled` really exist on a Red Hat kernel that was compiled with a retpoline-**un**aware compiler but who's source **has** retpoline support?

In other words: Couldn't the existence of this file be used as an indicator for a retpoline-aware compiler even if retpoline support is inactive (at least on Red Hat)?)

[2018-04-09 18:09] speed47 commented on #173
Interesting. It's probably not easy _by design_ to guess that you're either in a dom0 or domU from inside a LXC, as it's also what containers are for : hiding host stuff from inside the container.

Maybe what could be done is detecting that we're inside an LXC, that there is /proc/xen, and just print a warning that we *might* be either on a dom0 or domU, and that to get proper results, one should

[2018-04-09 18:58] speed47 commented on #152
Thanks, regression introduced in 6e61d3c, only when retpoline & ibpb were enabled, fixed.

This is not something that is checked against the running CPU, but in the kernel image itself. You can inspect an ARM kernel from an x86 machine (with --kernel and --arch-prefix), so I can't disable this kind of tests based on the CPU we're running on, as this might not be relevant.

Thanks, should be fixed

[2018-04-09 19:04] speed47 commented on #160
@knweiss removed the line when it would be UNKNOWN.

As for `retp_enabled`, I'm almost sure it also exists when the compiler was not retpoline-aware, by looking at the source code (the value of `spectre_v2` in sysfs would then be `Vulnerable: Minimal ASM retpoline`)

[2018-04-10 20:17] speed47 commented on #152
Thanks for your feedback!
I pushed a new commit to detect a read-only `ibpb_enabled` and tell about `retp_enabled` when this is the case.
With this change and everything that has been piling up since the last release, I'll probably tag v0.37 tomorrow or the day after that if I get no reports of regressions in the meantime.

[2018-04-12 12:03] corradoventu opened #178 "after last updates am i vulnerable again?"
sudo ./spectre-meltdown-checker.sh
[sudo] password for corrado:
Spectre and Meltdown mitigation detection tool v0.36+

Checking for vulnerabilities on current system
Kernel is Linux 4.15.0-13-generic #14-Ubuntu SMP Sat Mar 17 13:44:27 UTC 2018 x86_64
CPU is Intel(R) Core(TM) i3-7100 CPU @ 3.90GHz

Hardware check
* Hardware support (CPU microcode) for mitigation techniques
  * Indirect Branch Restr

[2018-04-12 14:09] candrews commented on #178
I'm seeing the same problem - for `CVE-2017-5715 [branch target injection] aka 'Spectre Variant 2'`:
`IBRS enabled and active:  YES`
`IBPB enabled and active:  YES `
`STATUS:  NOT VULNERABLE  (Full retpoline + IBPB are mitigating the vulnerability)`
But then immediately below that:
`How to fix: Both your CPU and your kernel have IBRS support, but it is currently disabled.`
which is contradictory a

[2018-04-12 17:27] speed47 commented on #178
@corradoventu Your CPU is a Skylake model, and for this model, retpoline has been found non-sufficient to fix all the cases : you need IBRS, as said in the explanation:

This new check has been added recently on the master branch (a release has not yet been done with this change). How to fix the problem is also explained:

For a recent Ubuntu, I think it's a matter of putting `spectre_v2=ibrs` on

[2018-04-12 17:28] speed47 commented on #178
@candrews your issue seems different, could you run again the script in verbose mode (with `-v`) and paste the results in a new issue, so I can check how it ends up saying you need IBRS when it's not vulnerable ? Thanks!

[2018-04-13 00:38] candrews opened #179 ""Both your CPU and your kernel have IBRS support, but it is currently disabled." when IBRS+IBRP are present"
For `CVE-2017-5715 [branch target injection] aka 'Spectre Variant 2'`:
`IBRS enabled and active:  YES`
`IBPB enabled and active:  YES `
`STATUS:  NOT VULNERABLE  (Full retpoline + IBPB are mitigating the vulnerability)`
But then immediately below that:
`How to fix: Both your CPU and your kernel have IBRS support, but it is currently disabled.`
which seems to me to be contradictory and doesn't make

[2018-04-13 00:39] candrews commented on #178
Thanks! I've reported this as #179

[2018-04-13 05:11] corradoventu commented on #178
I added 'spectre_v2=ibrs' on the kernel command-line but the problem remains:

corrado@corrado-p3-bb-0409:~$ cat /proc/cmdline
BOOT_IMAGE=/boot/vmlinuz-4.15.0-13-generic.efi.signed root=UUID=65a76373-a9e4-4939-a018-698b5ae003c3 ro quiet splash spectre_v2=ibrs vt.handoff=1
corrado@corrado-p3-bb-0409:~$ sudo ./spectre-meltdown-checker.sh
[sudo] password for corrado:
Spectre and Meltdown mitigation d

[2018-04-13 05:16] corradoventu commented on #178
corrado@corrado-p3-bb-0409:~$ sudo ./spectre-meltdown-checker.sh -v
[sudo] password for corrado:
Spectre and Meltdown mitigation detection tool v0.36+

Checking for vulnerabilities on current system
Kernel is Linux 4.15.0-13-generic #14-Ubuntu SMP Sat Mar 17 13:44:27 UTC 2018 x86_64
CPU is Intel(R) Core(TM) i3-7100 CPU @ 3.90GHz
Will use kernel image /boot/vmlinuz-4.15.0-13-generic.efi.signed
Will

[2018-04-13 11:55] kyodev opened #180 "remark on shellcheck"
you can replace the 9 occurrences in the script  `# shellcheck disable = SC2086` with 1 general statement:
[code]

[2018-04-13 13:50] corradoventu commented on #178
changed to spectre_v2=on

corrado@corrado-p3-bb-0409:~$ cat /proc/cmdline
BOOT_IMAGE=/boot/vmlinuz-4.15.0-13-generic.efi.signed root=UUID=65a76373-a9e4-4939-a018-698b5ae003c3 ro quiet splash spectre_v2=on vt.handoff=1
corrado@corrado-p3-bb-0409:~$ sudo ./spectre-meltdown-checker.sh -v
[sudo] password for corrado:
Spectre and Meltdown mitigation detection tool v0.36+

Checking for vulnerabilities o

[2018-04-13 17:33] speed47 commented on #178
Thanks for the details. Apparently recent Ubuntu kernels have dropped the "Red Hat" patch (that allows use of complete IBRS, not only in firmware as this is the case here), and are now acting like upstream.
For Skylake, they rely on retpoline + IBPB + RSB stuffing. I have to implement detection of proper RSB filling, expect a commit about this sometime during the weekend ;)

reference: https://eli

[2018-04-13 19:26] kuzetsa opened #181 "retpoline+IBPB is NOT? needed to mitigate the vulnerability on some CPUs"
BTI (CVE-2017-5715) mitigation: retpoline alone, *without IBPB* might be acceptable
... *at least on some CPUs*

in particular:$ cat /sys/devices/system/cpu/vulnerabilities/spectre_v2
[code]
... for some CPUs, acceptable mitigation (*with minimal overhead penalties*) can be had from an updated compiler, kernel, and system-wide userland rebuild to enable retpoline.
 (*and/or update all premade bina

[2018-04-14 10:13] speed47 commented on #180
I don't want SC2086 disabled for the whole script, but just for the 9 precise lines where I explicitely don't quote the variables because I actually want them to expand. For all the other lines of the script, I still want shellcheck to warn about SC2086.

Thanks for the suggestion though ;)

[2018-04-14 14:56] kyodev commented on #180
ok